{% extends "auth/base.html" %}

{% block content %}
<h4>Account activated!</h4>
<p>Your account has been activated, you may now log in using your email and password.</p>
<p><a href="{% url 'login' %}">Return to the log in page</a></p>
{% endblock %}
