{% extends "auth/base.html" %}

{% block content %}
<h4>Thanks for signing up!</h4>
<p>An email has been sent to you. To activate your account please follow the instructions provided in the email.</p>
<p><a href="{% url 'login' %}">Return to the log in page</a></p>
{% endblock %}
