{% extends "base.html" %}

{% block body %}
<div class="login-box">
    <div class="login-logo">
        <strong>SAAO</strong>
    </div>
    <div class="login-box-body">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
