{% extends "auth/base.html" %}

{% block content %}
<h4>Invalid Link</h4>
<p>Tha account activation link was invalid, possibly because it has already been used.</p>
<p><a href={% url 'login' %}>Return to the login page</a></p>
{% endblock %}
