{% extends "auth/base.html" %}

{% block content %}
<h4>Password reset complete!</h4>
<p>Your password has been set. You may go ahead and log in now.</p>
<a href={% url 'login' %}>Return to the log in page</a>
{% endblock %}
