{% extends "auth/base.html" %}

<div class="body bg-gray">

{% block content %}
{% if validlink %}
<h4>Enter new password</h4>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
    {% csrf_token %}

    <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
        <input id="id_new_password1" type="password" name="new_password1" class="form-control" placeholder="New password">
        {{ form.new_password1.errors }}
    </div>

    <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
        <input id="id_new_password2" type="password" name="new_password2" class="form-control" placeholder="Confirm password">
        {{ form.new_password2.errors }}
    </div>

    <button type="submit" class="btn btn-primary btn-block">Change my password</button>
{% else %}
    <h4>Password reset unsuccessful</h4>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

    <a href={% url 'login' %} class="btn btn-primary btn-block">Return to the login page</a>
{% endif %}
{% endblock %}
