{% extends "auth/base.html" %}

{% block content %}
<h4>Password reset successful!</h4>
<p>We've emailed you instructions for resetting your password. You should be receiving them shortly.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
<a href="{% url 'login' %}">Return to the log in page</a>
{% endblock %}
