{% extends "auth/base.html" %}

{% block content %}
<h4>Forgot your password?</h4>
<p>Enter your email address below, and we'll send you instructions for setting up a new one.</p>

<form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}

    <div class="form-group has-feedback{% if form.email.errors %} has-error{% endif %}">
        <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="E-mail address" autofocus="True">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-text">{{ form.email.errors.as_text }}</p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'login' %}" class="btn">Cancel</a>
            <button type="submit" class="btn btn-primary pull-right">Reset my password</button>
        </div>
    </div>
</form>

{% endblock %}
