{% extends "auth/base.html" %}

{% block content %}
<p class="login-box-msg">Sign up for an account to access the observer portal</p>

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group has-feedback{% if form.username.errors %} has-error{% endif %}">
        {{ form.username }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <p class="help-text">{{ form.username.errors.as_text }}</p>
    </div>

    <hr>

    <div class="form-group has-feedback{% if form.email.errors %} has-error{% endif %}">
        {{ form.email }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-text">{{ form.email.errors.as_text }}</p>
    </div>

    <div class="form-group has-feedback{% if form.password1.errors %} has-error{% endif %}">
        {{ form.password1 }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p class="help-text">{{ form.password1.errors.as_text }}</p>
    </div>

    <div class="form-group has-feedback{% if form.password2.errors %} has-error{% endif %}">
        {{ form.password2 }}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <p class="help-text">{{ form.password2.errors.as_text }}</p>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <a href={% url 'login' %} class="text-center">I already have an account</a>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}
