@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'),
       local('SourceSansPro-Light'),
       url(../fonts/sourcesanspro-light-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'),
       local('SourceSansPro-Regular'),
       url(../fonts/sourcesanspro-regular-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'),
       local('SourceSansPro-Semibold'),
       url(../fonts/sourcesanspro-semibold-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'),
       local('SourceSansPro-Bold'),
       url(../fonts/sourcesanspro-bold-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'),
       local('SourceSansPro-LightIt'),
       url(../fonts/sourcesanspro-lightit-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'),
       local('SourceSansPro-It'),
       url(../fonts/sourcesanspro-it-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Source Sans Pro Semibold Italic'),
       local('SourceSansPro-SemiboldIt'),
       url(../fonts/sourcesanspro-semiboldit-webfont.woff) format('woff');
}
