body, html, .main-sidebar {
    height: 100%;
}
.wrapper {
    background-color: #ecf0f5 !important;
    overflow: initial !important;
}
body {
    background-color: #ecf0f5;
}

button, input[type=submit] {
    outline: none !important;
}

/* Disable the transitions. */
* {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Override the default hamburger font icon with a Unicode character. */
.main-header .sidebar-toggle:before {
    content: '\2630';
}

.main-sidebar {
    height: auto;
    padding-top: 50px;
}

.text-muted {
    color: #777 !important;
}

.alert,
.btn {
    border: none;
}

.btn {
    box-shadow: none !important;
}

.logo,
.navbar-brand {
    background-image: url(../img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-right: none !important;
    text-indent: -9999px;
    width: 150px;
}

.skin-black .main-header > .logo {
    background-color: #fff;
}

.main-header {
    box-shadow: none !important;
}

.login-logo {
    background-image: url(../img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-right: none !important;
    margin: 0 auto;
    text-indent: -9999px;
    width: 100px;
}

.box {
    border-radius: 0;
}

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fc-state-default {
    background-image: none !important;
    border: none !important;
}

.callout,
.alert {
    background-color: rgba(249, 249, 249, 1) !important;
    border-radius: 0;
    border-left: 5px solid #333;
    color: rgba(0, 0, 0, 0.6) !important;
    -webkit-font-smoothing: subpixel-antialiased;
}

.callout.callout-info {
    background-color: rgba(249, 249, 249, 1) !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
.callout.callout-danger {
    background-color: rgba(249, 249, 249, 1) !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.alert.alert-success {
    border-color: #00a65a;
}

.skin-black .sidebar-menu>li:not(.active):hover>a {
    border-left: 3px solid transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #444;
    background: #fff;
}

.user-image {
    border-radius: 50% !important;
    float: left !important;
    height: 25px !important;
    margin-top: 0 !important;
    overflow: hidden;
    position: relative;
    width: 25px !important;
}
.user-image img {
    bottom: -100%;
    height: auto !important;
    left: -100%;
    margin: auto;
    position: absolute;
    right: -100%;
    top: -100%;
    width: 25px;
}

/* Override selectize defaults. */

.selectize-input,
.selectize-dropdown-header,
.selectize-input.dropdown-active,
.selectize-dropdown {
    border-radius: 0 !important;
}
.selectize-input.focus {
    border-color: #3c8dbc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



.box h4 {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.form {
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 20px;
    position: relative;
}
.form .box-title {
    font-weight: bold;
    text-transform: uppercase;
}
.form-group {
    margin-top: 15px;
}

.timeline > li > .timeline-item {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.timeline > li > .timeline-item > .timeline-header {
    padding: 0 10px 10px;
}
.timeline > li > .glyphicon {
    background-color: #ecf0f5;
}
.timeline .timeline-header time {
    color: #777;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
}

.workflow-status {
    margin: 0;
    padding: 0;
    display: table;
    list-style-type: none;
    width: 100%;
    margin-bottom: 2em;
}
.workflow-status > li {
    display: table-cell;
    text-align: center;
}
.workflow-status li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 5px;
}
