{% extends "base.html" %}

{% load humanize %}

{% block title %}
{{ task.category }}: {{ task.title }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<ol class="breadcrumb" style="font-size: 16px; background-color: transparent; padding-left: 0; padding-right: 0;">
    <li><a href="{% url 'dashboard' %}" style="text-decoration: underline; color: inherit;">Home</a></li>
    <li><a href="{% url 'students:index' %}" style="text-decoration: underline; color: inherit;">Tasks</a></li>
    <li>{{ task.title }}</li>
</ol>

<div class="row">
    <div class="col-lg-9 col-md-12">
        <form action="{% url 'students:cancel' pk=task.pk %}" method="post" role="form">
            {% csrf_token %}

            <div class="box form">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-weight: bold; text-transform: uppercase;">{{ task.category }}: {{ task.title }}</h3>
                    <span class="pull-right text-muted"><strong>#{{ task }}</strong></span>
                </div>
                <div class="box-body">
                    {% if task.description %}
                    <div class="form-group">
                        {{ task.description|linebreaks }}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <p class="form-control-static">
                                    {{ task.date }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Hours</label>
                                <p class="form-control-static">
                                    {{ task.hours }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Reason for cancelling</label>
                                <textarea name="reason" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" name="cancel" value="Cancel Task" class="btn btn-success pull-right">
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
        <ul class="timeline">
            <li>
                <i class="glyphicon glyphicon-record text-muted"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header">Added by {{ task.created_by }}
                    <br><time datetime="{{ task.created_at|date:"Y-m-d H:i:sO" }}" title="{{ task.created_at|date:"Y-m-d H:i:sO" }}">{{ task.created_at|date:" jS \o\f F, Y \a\t H:i" }}</time>
                    </h3>
                </div>
            </li>
            {% for log in task.audit_log.all %}
            <li>
                <i class="glyphicon glyphicon-ok text-green"></i>

                <div class="timeline-item">
                    <h3 class="timeline-header">
                        {% if log.created_by == request.user %}
                            You {{ log.to_state }} the task
                        {% else %}
                            {{ log.to_state.title }} by {{ log.created_by }}
                        {% endif %}
                        <br><time datetime="{{ log.created_at|date:"Y-m-d H:i:sO" }}" title="{{ log.created_at|date:"Y-m-d H:i:sO" }}">{{ log.created_at|date:" jS \o\f F, Y \a\t H:i" }}</time>
                    </h3>
                </div>
            </li>
            {% endfor %}

            <li>
                <i class="glyphicon bg-gray text-gray"></i>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
