{% extends "base.html" %}

{% block title %}
Student Tasks &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<ol class="breadcrumb" style="font-size: 16px; background-color: transparent; padding-left: 0; padding-right: 0;">
    <li><a href="{% url 'dashboard' %}" style="text-decoration: underline; color: inherit;">Home</a></li>
    <li>Tasks</li>
</ol>

<div class="row">
    <div class="col-md-12">
        {% if not tasks %}
            <h3 class="text-muted" style="text-align: center;">No Tasks Available</h3>
        {% else %}
            <div class="box">
                <div class="box-body no-padding table-responsive">
                    <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Type</th>
                            <th class="hidden-xs">Added by</th>
                            <th class="hidden-xs">Date</th>
                            <th class="text-right hidden-xs">Hours</th>
                            <th class="text-right">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td><a href="{% url 'students:view' task.pk %}">{{ task.title }}</a></td>
                            <td>{{ task.category }}</td>
                            <td class="hidden-xs">{{ task.created_by }}</td>
                            <td class="hidden-xs">{{ task.date|date:'M j, Y' }}</td>
                            <td class="text-right hidden-xs">{{ task.hours }}</td>
                            <td class="text-right"><span class="label text-muted" style="padding: 0;">{{ task.state.upper }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
