<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/static/css/AdminLTE.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/portal.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.min.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body class="skin-black {% if not request.user.is_superuser %}layout-top-nav{% else %}sidebar-mini{% endif %}" {% if '/admin/' in request.path %} style="border-top: 2px solid #dd4b39;"{% endif %}>
    {% block body %}
    <div class="wrapper">

        {% if not request.user.is_anonymous %}
        <header class="main-header">
            <a href="{% url 'maintenance:index' %}" class="logo hidden-xs"><strong>SAAO</strong></a>

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle hidden-lg hidden-md hidden-sm" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_superuser %}<li><a href="/docs/index.html">Help</a></li>{% endif %}
                        <li class="user user-menu"><a href="{% url 'profile' %}">
                            <span class="user-image">
                                {% if request.user.profile.avatar %}
                                <img src="{{ request.user.profile.avatar.url }}">
                                {% else %}
                                <img src="/static/img/avatar.png">
                                {% endif %}
                            </span>
                            <span class="hidden-xs">{{ request.user }}</span></a></li>
                        <li><a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out hidden-lg hidden-md hidden-sm"></span>
                            <span class="hidden-xs">Sign out</span>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </header>
        {% endif %}

        {% if request.user.is_superuser %}
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">OPERATIONS</li>
                    <li{% if '/admin/categories' in request.path %} class="active"{% endif %}>
                        <a href="{% url 'admin:categories:index' %}">Categories</a>
                    </li>
                </ul>
            </section>
        </aside>
        {% endif %}

        <div class="content-wrapper" style="margin-bottom: 15px;">
            {% if not request.user.is_staff %}<div class="container">{% endif %}
                {% block header %}{% endblock %}

                <section class="content">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </section>
            {% if not request.user.is_staff %}</div>{% endif %}
        </div>

        <footer style="position: absolute; bottom: 0; right: 0; height: 50px; padding: 15px;">
            <div class="pull-right hidden-xs">
                Version {{ VERSION }}
            </div>
        </footer>

    </div>
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="/static/js/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $('a.sidebar-toggle').click(function() {
        $('body').toggleClass('sidebar-open');
    });
    </script>
    {% endblock %}

</body>
</html>
