{% extends "base.html" %}

{% block title %}
New Student Task &mdash; Admin Portal
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/datepicker3.css">
{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$.fn.datepicker.defaults.format = 'yyyy-mm-dd';
$.fn.datepicker.defaults.autoclose = true;
</script>
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">New Task</h3>
    </div>
    <form action="{% url 'admin:students:create' %}" method="post">
        {% csrf_token %}

        <div class="box-body">
            <div class="form-group{% if form.category.errors %} has-error{% endif %}">
                <label>Type</label>
                {{ form.category }}
                {% if form.category.errors %}
                <p class="help-block">{{ form.category.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="form-group{% if form.title.errors %} has-error{% endif %}">
                <label>{{ form.title.label }}</label>
                {{ form.title }}
                {% if form.title.errors %}
                <p class="help-block">{{ form.title.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="form-group{% if form.description.errors %} has-error{% endif %}">
                <label>{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group{% if form.date.errors %} has-error{% endif %}">
                        <label>{{ form.date.label }}</label>
                        <div class="input-group date" data-provide="datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            {{ form.date }}
                        </div>
                        {% if form.date.errors %}
                        <p class="help-block">{{ form.date.errors.as_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group{% if form.hours.errors %} has-error{% endif %}">
                        <label>{{ form.hours.label }}</label>
                        {{ form.hours }}
                        {% if form.hours.errors %}
                        <p class="help-block">{{ form.hours.errors.as_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="pull-right">
                <input type="submit" value="Add Task" name="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
