{% extends "base.html" %}

{% block title %}
Student Tasks &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/daterangepicker.css">
{% endblock %}

{% block scripts %}
{{ block.super }}

{% if start_date and end_date %}
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<script type="text/javascript">
jQuery(function($) {
    var start = moment('{{ start_date|date:"Y/m/d" }}', 'YYYY-MM-DD');
    var end = moment('{{ end_date|date:"Y/m/d" }}', 'YYYY-MM-DD');

    function cb(start, end) {
        window.location.href = '?{% if 'state' in request.GET %}state={{ request.GET.state }}&{% endif %}' + 'start=' + start.format('YYYY-MM-DD') + '&end=' + end.format('YYYY-MM-DD');
    }

    $('#daterange-btn').daterangepicker({
        locale: {
            format: 'DD-MM-YYYY'
        },
        startDate: '{{ start_date|date:"d-m-Y" }}',
        endDate: '{{ end_date|date:"d-m-Y" }}',
        ranges: {
           'Last 7 Days': [moment().subtract(7, 'days'), moment()],
           'Last 30 Days': [moment().subtract(30, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<ol class="breadcrumb" style="font-size: 16px; background-color: transparent; padding-left: 0; padding-right: 0;">
    <li><a href="{% url 'dashboard' %}" style="text-decoration: underline; color: inherit;">Home</a></li>
    <li>Tasks</li>
</ol>

<div class="row">
    <div class="col-md-9">
        {% if not tasks %}
            <h3 class="text-muted" style="text-align: center;">There aren't any entries for
                {% if start_date == end_date %}
                    {{ start_date|date:'M j, Y' }}
                {% else %}
                    {{ start_date|date:'M j, Y' }} - {{ end_date|date:'M j, Y' }}
                {% endif %}
            </h3>
        {% else %}
            <div class="box">
                <div class="box-body no-padding table-responsive">
                    <table class="table table-striped" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Type</th>
                            <th class="hidden-xs">Student</th>
                            <th class="hidden-xs">Date</th>
                            <th class="text-right hidden-xs">Hours</th>
                            <th class="text-right">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td><a href="{% url 'admin:students:view' pk=task.pk %}">{{ task.title }}</a></td>
                            <td>{{ task.category }}</td>
                            <td class="hidden-xs">{{ task.student|default:'-' }}</td>
                            <td class="hidden-xs">{{ task.date|date:'M j, Y' }}</td>
                            <td class="text-right hidden-xs">{{ task.hours }}</td>
                            <td class="text-right"><span class="label text-muted" style="padding: 0;">{{ task.state.upper }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="btn-group hidden-sm hidden-xs margin-bottom">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="label">REPORTS</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'admin:students:export' %}?report=tasks&amp;{% if 'state' in request.GET %}state={{ request.GET.state }}&amp;{% endif %}start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">
                            Tasks
                        </a>
                    </li>
                    <li><a href="{% url 'admin:students:export' %}?report=hours&amp;{% if 'state' in request.GET %}state={{ request.GET.state }}&amp;{% endif %}start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">Total hours by student</a></li>
                </ul>
            </div>
            <button id="daterange-btn" type="button" class="btn btn-primary">
            {% if start_date == end_date %}
                {{ start_date|date:'M j, Y' }}
            {% else %}
                {{ start_date|date:'M j, Y' }} - {{ end_date|date:'M j, Y' }}
            {% endif %}
            </button>
        </div>

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if not request.GET.state %} class="active"{% endif %}>
                        <a href="{% url 'admin:students:index' %}?start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">All Tasks</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'available' %} class="active"{% endif %}>
                        <a href="?state=available&amp;start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">Available</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'accepted' %} class="active"{% endif %}>
                        <a href="?state=accepted&amp;start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">Accepted</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'completed' %} class="active"{% endif %}>
                        <a href="?state=completed&amp;start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">Completed</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'confirmed' %} class="active"{% endif %}>
                        <a href="?state=confirmed&amp;start={{ start_date|date:'Y-m-d' }}&amp;end={{ end_date|date:'Y-m-d' }}">Confirmed</a>
                    </li>
                </ul>
            </div>
        </div>

        <a href="{% url 'admin:students:create' %}" class="btn btn-block btn-success margin-bottom">New task</a>
    </div>
</div>
{% endblock %}
