{% extends "base.html" %}

{% load humanize %}

{% block title %}
{{ task.category }}: {{ task.title }} &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/datepicker3.css">
{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$.fn.datepicker.defaults.format = 'yyyy-mm-dd';
$.fn.datepicker.defaults.autoclose = true;
</script>
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<ol class="breadcrumb" style="font-size: 16px; background-color: transparent; padding-left: 0; padding-right: 0;">
    <li><a href="{% url 'dashboard' %}" style="text-decoration: underline; color: inherit;">Home</a></li>
    <li><a href="{% url 'admin:students:index' %}" style="text-decoration: underline; color: inherit;">Tasks</a></li>
    <li>{{ task.title }}</li>
</ol>

<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="box form">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-weight: bold; text-transform: uppercase;">{{ task.category }}: {{ task.title }}</h3>
                <span class="pull-right text-muted"><strong>#{{ task }}</strong></span>
            </div>
            <form action="{% url 'admin:students:view' pk=task.pk %}" method="post" role="form">
                {% csrf_token %}

                {{ form.title.as_hidden }}
                {{ form.category.as_hidden }}

                <div class="box-body">
                    {% if task.description %}
                    <div class="form-group">
                        {{ task.description|linebreaks }}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group{% if form.date.errors %} has-error{% endif %}">
                                <label>{{ form.date.label }}</label>
                                {% if task.created_by == request.user and task.state == 'completed' %}
                                    <div class="input-group date" data-provide="datepicker">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        {{ form.date }}
                                    </div>
                                    {% if form.date.errors %}
                                    <p class="help-block">{{ form.date.errors.as_text }}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="form-control-static">
                                        {{ task.date }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ form.hours.label }}</label>
                                {% if task.created_by == request.user and task.state == 'completed' %}
                                    {{ form.hours }}
                                    {% if form.hours.errors %}
                                    <p class="help-block">{{ form.hours.errors.as_text }}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="form-control-static">
                                        {{ task.hours }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Student</label>
                                <p class="form-control-static">
                                    {{ task.student|default:'-' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if task.created_by == request.user and task.state != 'completed' and task.state != 'confirmed' and task.state != 'cancelled' %}
                <a href="{% url 'admin:students:cancel' pk=task.pk %}" class="btn btn-default">Cancel Task&hellip;</a>
                {% endif %}

                {% if task.created_by == request.user and task.state == 'completed' %}
                <div class="box-footer">
                    <input type="submit" name="confirm" value="Confirm Completed" class="btn btn-success pull-right">
                </div>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
        <ul class="timeline">
            <li>
                <i class="glyphicon glyphicon-record text-muted"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header">Added by
                    {% if task.created_by == request.user %}
                        you
                    {% else %}
                        {{ task.created_by }}
                    {% endif %}
                    <br><time datetime="{{ task.created_at|date:"Y-m-d H:i:sO" }}" title="{{ task.created_at|date:"Y-m-d H:i:sO" }}">{{ task.created_at|date:" jS \o\f F, Y \a\t H:i" }}</time>
                    </h3>
                </div>
            </li>
            {% for log in task.audit_log.all %}
            <li>
                <i class="glyphicon {% if log.to_state == 'cancelled' %}glyphicon-remove text-red{% else %}glyphicon-ok text-green{% endif %}"></i>

                <div class="timeline-item">
                    <h3 class="timeline-header">
                        {% if log.created_by == request.user %}
                            You {{ log.to_state }} the task
                        {% else %}
                            {{ log.to_state.title }} by {{ log.created_by }}
                        {% endif %}
                        <br><time datetime="{{ log.created_at|date:"Y-m-d H:i:sO" }}" title="{{ log.created_at|date:"Y-m-d H:i:sO" }}">{{ log.created_at|date:" jS \o\f F, Y \a\t H:i" }}</time>
                    </h3>
                    {% if log.reason %}<p>{{ log.reason}}</p>{% endif %}
                </div>
            </li>
            {% endfor %}

            <li>
                <i class="glyphicon bg-gray text-gray"></i>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
