{% extends "base.html" %}

{% block title %}
{{ form.instance }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ form.instance }}</h3>
    </div>

    <form action="{% url 'admin:calls:edit' pk=form.instance.pk %}" method="post">
        {% include 'admin/calls/form.html' %}

        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
            </div>
            <input type="button" value="Delete Call" name="delete" class="btn btn-danger" data-toggle="modal" data-target="#delete-call">
        </div>
    </form>
</div>

<div id="delete-call" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete &ldquo;{{ call }}&rdquo;</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this call?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <form action="{% url 'admin:calls:edit' pk=call.pk %}" method="post" role="form">
                    {% csrf_token %}
                    <input type="submit" value="Delete Call" name="delete" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
