{% csrf_token %}

<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                <p class="help-block">{{ form.name.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.facility.errors %} has-error{% endif %}">
                <label>{{ form.facility.label }}</label>
                {{ form.facility }}
                <p class="help-block">{{ form.facility.errors.as_text }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.deadline.errors %} has-error{% endif %}">
                <label>Deadline ({{ TIME_ZONE }})</label>
                {{ form.deadline }}
                <p class="help-block">{{ form.deadline.errors.as_text }}</p>
            </div>
        </div>
    </div>
</div>
