{% extends "base.html" %}

{% block title %}
Calls for Proposals &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if calls %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Deadline ({{ TIME_ZONE }})</th>
                        <th>Facility</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in calls %}
                    <tr>
                        <td><a href="{% url 'admin:calls:edit' pk=call.pk %}">{{ call }}</a></td>
                        <td>{{ call.deadline }}</td>
                        <td>{{ call.facility }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No calls found.</h3>
    {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{% url 'admin:calls:add' %}" class="btn btn-success btn-block margin-bottom">New Call for Proposals</a>

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for facility in facilities %}
                    <li{% if request.GET.facility and request.GET.facility == facility.pk|stringformat:'i' %} class="active"{% endif %}>
                        <a href="?facility={{ facility.pk }}">{{ facility }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
