{% extends "base.html" %}

{% block title %}
New Site &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">New Site</h3>
    </div>

    <form action="{% url 'admin:sites:add' %}" method="post">
        {% include 'admin/sites/form.html' %}

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Add Site</button>
        </div>
    </form>
</div>
{% endblock %}
