{% csrf_token %}

<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                <p class="help-block">{{ form.name.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.domain.errors %} has-error{% endif %}">
                <label>{{ form.domain.label }}</label>
                {{ form.domain }}
                <p class="help-block">{{ form.domain.errors.as_text }}</p>
            </div>
        </div>
    </div>
</div>
