{% extends "base.html" %}

{% block title %}
Sites &mdash; {{ site.name }}
{% endblock %}

{% block header %}
<section class="content-header">
    <h1>Sites</h1>
    <a href="{% url 'admin:sites:add' %}" class="btn btn-sm pull-right bg-green" style="position: absolute; top: 15px; right: 15px;">New Site</a>
</section>
{% endblock %}

{% block content %}
    {% if sites %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>domain</th>
                    </tr>
                </thead>
                <tbody>
                    {% for site in sites %}
                    <tr>
                        <td><a href="{% url 'admin:sites:edit' pk=site.pk %}">{{ site.name }}</a></td>
                        <td>{{ site.domain }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
