{% csrf_token %}

<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                <p class="help-block">{{ form.name.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.parent.errors %} has-error{% endif %}">
                <label>{{ form.parent.label }}</label>
                {{ form.parent }}
                <p class="help-block">{{ form.parent.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.head.errors %} has-error{% endif %}">
                <label>{{ form.head.label }}</label>
                {{ form.head }}
                <p class="help-block">{{ form.head.errors.as_text }}</p>
            </div>
        </div>
    </div>
</div>
