{% extends "base.html" %}

{% block title %}
Departments &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if departments %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Head</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td><a href="{% url 'admin:departments:update' pk=department.pk %}">{{ department }}</a></td>
                        <td>{{ department.head }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No departments found.</h3>
    {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{% url 'admin:departments:create' %}" class="btn btn-success btn-block margin-bottom">New Department</a>
    </div>
</div>
{% endblock %}
