{% extends "base.html" %}

{% block title %}
{{ form.instance }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="{% if form.instance.category and form.instance.category.logs.all %}col-md-8{% else %}col-md-12{% endif %}">

        {% if form.errors %}
        <div class="callout callout-danger">
            <p>Please correct the errors highlighted below and try again.</p>
        </div>
        {% endif %}

        <div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
            <div class="box-header with-border">
                <h3 class="box-title">{{ form.instance }}</h3>
            </div>

            <form action="{% url 'admin:telescopes:edit' pk=form.instance.pk %}" method="post">
                {% include 'admin/telescopes/form.html' %}

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                    <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
                </div>
            </form>
        </div>

    </div>
    {% if form.instance.category %}
    <div class="col-md-4">
        <div class="box">
            <div class="box-body">
                {% for log in form.instance.category.logs.all|slice:':5' %}
                <div class="post clearfix">
                    <div class="user-block">
                        {% if log.created_by.profile.avatar %}
                        <img class="img-circle" src="{{ log.created_by.profile.avatar.url }}">
                        {% else %}
                        <img class="img-circle" src="/static/img/avatar.png">
                        {% endif %}
                        <span class="username">
                            <a href="mailto:{{ log.created_by.email }}">
                                {{ log.created_by }}
                            </a>
                        </span>
                        <span class="description">{% if log.standby %}{{ log.created_by.profile.department }} Standby - {% endif %}{{ log.created_at }}</span>
                    </div>
                    <p style="white-space: pre-wrap;">{{ log.comment|urlize }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="box-footer text-center">
                <a href="{% url 'telescope' pk=form.instance.pk %}" class="uppercase">View More&hellip;</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
