{% extends "base.html" %}

{% block title %}
Telescopes &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if telescopes %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Available?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for telescope in telescopes %}
                    <tr>
                        <td><a href="{% url 'admin:telescopes:edit' pk=telescope.pk %}">{{ telescope }}</a></td>
                        <td>{{ telescope.is_available|yesno:"Yes,No" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No telescopes found.</h3>
    {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{% url 'admin:telescopes:add' %}" class="btn btn-success btn-block margin-bottom">New Telescope</a>

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if not request.GET %} class="active"{% endif %}>
                        <a href="{% url 'admin:telescopes:index' %}">All Telescopes</a>
                    </li>
                    {% for facility in facilities %}
                    <li{% if request.GET.facility and request.GET.facility == facility.pk|stringformat:'i' %} class="active"{% endif %}>
                        <a href="?facility={{ facility.pk }}">{{ facility }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
