{% extends "base.html" %}

{% block head %}
<style>
.menu {
    border-top: 5px solid #000;
    margin-bottom: 2em;
}
.menu h3 {
    border-bottom: 1px solid #ddd;
    color: #111;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}
.menu ul {
    font-size: 18px;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
}
.menu li a {
    color: #111;
}
.menu li a:hover {
    text-decoration: underline;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    {% if perms.portal.accept_task or perms.portal.add_task %}
    <div class="col-lg-4 col-xs-12">
        <div class="menu">
            <h3>Administration</h3>
            <ul>
                {% if perms.portal.accept_task %}
                <li>- <a href="{% url 'students:index' %}">Student Tasks</a> &rarr;</li>
                {% elif perms.portal.add_task %}
                <li>- <a href="{% url 'admin:students:index' %}">Student Tasks</a> &rarr;</li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
