{% extends "auth/base.html" %}

{% block content %}
{% if form.non_field_errors %}
<div class="bg-red-active" style="padding: 10px; margin-bottom: 10px; margin-left: -20px; margin-right: -20px; margin-top: -20px; text-align: center; ">
    {{ form.non_field_errors }}
</div>
{% endif %}

<p class="login-box-msg">Sign in to access the IT portal</p>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <div class="form-group has-feedback{% if form.username.errors %} has-error{% endif %}">
        {{ form.username }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-text">{{ form.username.errors.as_text }}</p>
    </div>

    <div class="form-group has-feedback{% if form.password.errors %} has-error{% endif %}">
        {{ form.password }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p class="help-text">{{ form.password.errors.as_text }}</p>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
    </div>
</form>
{% endblock %}
