{% extends "base.html" %}

{% block body %}
<div class="error-page">
    <h2 class="headline">403</h2>
    <div class="error-content">
        <h3>Unauthorised access.</h3>
        <p>
            You are not authorised to access this page. You may <a href="/">return to the home page</a>.
        </p>
    </div>
</div>
{% endblock %}
