{% extends "base.html" %}

{% block body %}
<div class="error-page">
    <h2 class="headline">404</h2>
    <div class="error-content">
        <h3>Oops! Page not found.</h3>
        <p>We could not find the page you were looking for. You may <a href="/">return to the home page</a> to try again.</p>
    </div>
</div>
{% endblock %}
