{% extends "base.html" %}

{% block body %}
<div class="error-page">
    <h2 class="headline">500</h2>
    <div class="error-content">
        <h3>Oops! Something went wrong.</h3>
        <p>
            We will work on fixing that right away. Meanwhile, you may <a href="/">return to the home page</a>.
        </p>
    </div>
</div>
{% endblock %}
