{% extends "base.html" %}

{% load humanize %}
{% load tz %}

{% block head %}
<link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
<style>
#map { height: 400px; }
</style>
{% endblock %}

{% block scripts %}
{{ block.super }}

{% if not request.user.is_anonymous %}
<script type="text/javascript" src="/static/js/leaflet.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js"></script>
<script>
var icon = L.icon({
    iconUrl: 'my-icon.png',
    iconRetinaUrl: 'my-icon@2x.png',
    iconSize: [38, 95],
    iconAnchor: [22, 94],
    popupAnchor: [-3, -76],
    shadowUrl: 'my-icon-shadow.png',
    shadowRetinaUrl: 'my-icon-shadow@2x.png',
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

L.mapbox.accessToken = 'pk.eyJ1IjoiYnJpZWhhbmxvbWJhYXJkIiwiYSI6IlBvbHNWR00ifQ.EW9r1hjyAeQ9qr2zt6Ui9Q';
var map = L.mapbox.map('map', 'mapbox.satellite')
    .setView([-32.3778, 20.8068], 16);
var heat = L.heatLayer([
    {% for report in reports %}
    [{{ report.lat }}, {{ report.lng }}],
    {% endfor %}
], {maxZoom: 18}).addTo(map);
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="row">
    <div class="col-md-12">
        <div class="row callout" style="border-color: #777; background-color: rgba(255, 255, 255, 0.5);">
            <div class="col-md-12">
                <div style="float: left;">
                    <a href="#" style="color: #000; text-decoration: none; font-size: 18px;"><strong>SAAO</strong> Service Observing</a><br>
                    <span class="text-muted hidden-sm hidden-xs">This program gives observers the opportunity to propose observations that do not fit into the one-week blocks of normal scheduled observing.</span>
                </div>
                <button class="btn btn-sm btn-success pull-right">Apply Now</span>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-9">
    {% if calls %}
    {% for call in calls %}
        <div class="row callout" style="border-color: #777; background-color: rgba(255, 255, 255, 0.5);">
            <div class="col-md-12">
                <div style="float: left;">
                    <span style="color: #000; font-size: 18px;"><strong>{{ call.facility }}</strong> {{ call.name }}</span><br>
                    <span class="text-muted hidden-sm hidden-xs">The deadline for applications is {{ call.deadline|date:'l, F jS, Y \a\t H:i T' }}</span>
                </div>
                {% if perms.portal.add_application %}<a href="{% url 'applications:create' facility=call.facility.name %}" class="btn btn-sm btn-success pull-right" style="text-decoration: none;">Apply Now</a>{% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        {% if request.user.is_anonymous %}<h3 class="text-muted text-center">There are no open calls right now.</h3>{% endif %}
    {% endif %}

    {% if not request.user.is_anonymous %}
        <div class="box box-solid box-widget widget-user">
            <div class="widget-user-header" style="border-radius: 0">
                {% if request.user.is_staff %}
                <a href="{% url 'admin:reports:create' %}" class="btn btn-sm btn-success pull-right" style="color :#fff !important;">Report light pollution</a>
                {% endif %}
                <h3 style="margin-top: 0;">Light pollution</h3>
                {% if last_report_date %}
                <p class="widget-user-desc">{{ last_report_date|timesince:now }} since last report</p>
                {% endif %}
            </div>
            <div class="box-body no-padding">
                <div id="map"></div>
            </div>
            <div class="box-body no-padding">
                <table class="table">
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{% timezone None %}{{ report.observed_at|date:'F jS, Y \a\t H:i' }}{% endtimezone %}</td>
                            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 550px;">{{ report.comment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="col-md-3">
        {% if request.user.is_anonymous %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Sign in</a>
        <br>
        {% endif %}

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Telescopes</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for telescope in telescopes %}
                    <li>
                        <a href="{% url 'telescope' pk=telescope.pk %}">
                            <span class="glyphicon {% if telescope.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ telescope }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Instruments</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for instrument in instruments %}
                    <li>
                        <a href="{% url 'instrument' pk=instrument.pk %}">
                            <span class="glyphicon {% if instrument.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ instrument }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
