{% extends "base.html" %}

{% block title %}
{{ instrument }} &mdash; {{ site.name }}
{% endblock %}

{% block header %}
{% if request.user.is_anonymous %}
<section class="content-header">
    <ol class="breadcrumb" style="float: none; position: initial;">
        <li><a href="/">Home</a></li>
        <li>Instruments</li>
        <li>{{ instrument }}</li>
    </ol>
</section>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">

        <div class="box box-widget widget-user" style="">
            <div class="widget-user-header {% if instrument.is_available %}bg-green{% else %}bg-red{% endif %}" style="border-radius: 0">
                <h3 style="margin-top: 0;">{{ instrument }}</h3>
                {% if instrument.is_available %}
                All Systems Operational
                {% else %}
                {{ instrument.status }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        {% if request.user.is_anonymous %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Sign in</a>
        <br>
        {% endif %}

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Telescopes</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for telescope in telescopes %}
                    <li>
                        <a href="{% url 'telescope' pk=telescope.pk %}">
                            <span class="glyphicon {% if telescope.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ telescope }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Instruments</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for instrument in instruments %}
                    <li>
                        <a href="{% url 'instrument' pk=instrument.pk %}">
                            <span class="glyphicon {% if instrument.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ instrument }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
