{% extends "base.html" %}

{% block title %}
Profile &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if user_form.errors or user_profile_form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if user_form.errors or user_profile_form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">Account Details</h3>
    </div>

    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group{% if user_form.first_name.errors %} has-error{% endif %}">
                        <label>First Name</label>
                        {{ user_form.first_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group{% if user_form.last_name.errors %} has-error{% endif %}">
                        <label>Last Name</label>
                        {{ user_form.last_name }}
                    </div>
                </div>
            </div>

            <div class="form-group{% if user_profile_form.street.errors %} has-error{% endif %}">
                <label>Postal Address</label>
                {{ user_profile_form.street }}
            </div>
            <div class="form-group{% if user_profile_form.street2.errors %} has-error{% endif %}">
                {{ user_profile_form.street2 }}
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.city.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.city.label }}</label>
                        {{ user_profile_form.city }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.postal_code.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.postal_code.label }}</label>
                        {{ user_profile_form.postal_code }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.country.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.country.label }}</label>
                        {{ user_profile_form.country }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.phone.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.phone.label }}</label>
                        {{ user_profile_form.phone }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.institution.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.institution.label }}</label>
                        {{ user_profile_form.institution }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if user_profile_form.timezone.errors %} has-error{% endif %}">
                        <label>{{ user_profile_form.timezone.label }}</label>
                        {{ user_profile_form.timezone }}
                    </div>
                </div>
            </div>

            {% if user_form.instance.is_staff %}
            <div class="row">
                <div class="col-md-4">
                    <label>{{ user_profile_form.department.label }}</label>
                    <div class="form-group">{{ user_profile_form.department }}</div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
