{% extends "base.html" %}

{% block title %}
{{ telescope }} &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/daterangepicker.css">
{% endblock %}

{% block scripts %}
{{ block.super }}

{% if start_date and end_date %}
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<script type="text/javascript">
jQuery(function($) {
    var start = moment('{{ start_date|date:"Y/m/d" }}', 'YYYY-MM-DD');
    var end = moment('{{ end_date|date:"Y/m/d" }}', 'YYYY-MM-DD');

    function cb(start, end) {
        window.location.href = '?' + 'start=' + start.format('YYYY-MM-DD') + '&end=' + end.format('YYYY-MM-DD');
    }

    $('#daterange-btn').daterangepicker({
        locale: {
            format: 'DD-MM-YYYY'
        },
        startDate: '{{ start_date|date:"d-m-Y" }}',
        endDate: '{{ end_date|date:"d-m-Y" }}',
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(7, 'days'), moment()],
           'Last 30 Days': [moment().subtract(30, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
});
</script>
{% endif %}
{% endblock %}

{% block header %}
{% if request.user.is_anonymous %}
<section class="content-header">
    <ol class="breadcrumb" style="float: none; position: initial;">
        <li><a href="/">Home</a></li>
        <li>Telescopes</li>
        <li>{{ telescope }}</li>
    </ol>
</section>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">

        <div class="box box-widget widget-user">
            <div class="widget-user-header {% if telescope.is_available %}bg-green{% else %}bg-red{% endif %}" style="border-radius: 0">
                {% if start_date and end_date %}
                <button id="daterange-btn" type="button" class="btn btn-success pull-right hidden-sm hidden-xs">
                {% if start_date == end_date %}
                    {{ start_date|date:'F j, Y' }}
                {% else %}
                    {{ start_date|date:'F j, Y' }} - {{ end_date|date:'F j, Y' }}
                {% endif %}
                </button>
                {% endif %}

                <h3 style="margin-top: 0;">{{ telescope }}</h3>
                <p class="widget-user-desc">
                {% if telescope.is_available %}
                All Systems Operational
                {% else %}
                {{ telescope.status }}
                {% endif %}
                </p>
            </div>
            {% if telescope.category %}
            <div class="box-body">
                {% for log in logs %}
                <div class="post clearfix">
                    <div class="user-block">
                        {% if log.created_by.profile.avatar %}
                        <img class="img-circle" src="{{ log.created_by.profile.avatar.url }}">
                        {% else %}
                        <img class="img-circle" src="/static/img/avatar.png">
                        {% endif %}
                        <span class="username">
                            {% if not request.user.is_anonymous %}<a href="mailto:{{ log.created_by.email }}">{% endif %}
                                {{ log.created_by }}
                            {% if not request.user.is_anonymous %}</a>{% endif %}
                        </span>
                        <span class="description">{% if log.standby %}{{ log.created_by.profile.department }} Standby - {% endif %}{{ log.created_at|date:'l, F jS, Y \a\t H:i T' }}</span>
                    </div>
                    <p style="white-space: pre-wrap;">{{ log.comment|urlize }}</p>
                </div>
                {% empty %}
                <h3 class="text-muted text-center" style="margin: 1em 0;">No activities found.</h3>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-3">
        {% if request.user.is_anonymous %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-block margin-bottom">Sign in</a>
        {% endif %}

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Telescopes</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for telescope in telescopes %}
                    <li>
                        <a href="{% url 'telescope' pk=telescope.pk %}">
                            <span class="glyphicon {% if telescope.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ telescope }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Instruments</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for instrument in instruments %}
                    <li>
                        <a href="{% url 'instrument' pk=instrument.pk %}">
                            <span class="glyphicon {% if instrument.is_available %}glyphicon-ok-circle text-green{% else %}glyphicon-remove-circle text-red{% endif %}"></span>
                            {{ instrument }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
