{% extends "base.html" %}

{% block title %}
{{ form.instance }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ form.instance }}</h3>
    </div>

    <form action="{% url 'admin:instruments:edit' pk=form.instance.pk %}" method="post">
        {% include 'admin/instruments/form.html' %}

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
            <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
        </div>
    </form>
</div>
{% endblock %}
