{% csrf_token %}

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                <p class="help-block">{{ form.name.errors.as_text }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Instrument Availability</label>
                <div class="checkbox">
                    <label>{{ form.is_available }} {{ form.is_available.label }}</label>
                </div>
                <p class="help-block">An instrument that is marked as unavailable will not be available for selection when creating a proposal.</p>
                <div class="form-group">
                    <label>{{ form.status.label }}</label>
                    {{ form.status }}
                </div>
            </div>
        </div>
    </div>
</div>
