{% extends "base.html" %}

{% block title %}
Instruments &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if instruments %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Available?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instrument in instruments %}
                    <tr>
                        <td><a href="{% url 'admin:instruments:edit' pk=instrument.pk %}">{{ instrument }}</a></td>
                        <td>{{ instrument.is_available|yesno:"Yes,No" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No instruments found.</h3>
    {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{% url 'admin:instruments:add' %}" class="btn btn-success btn-block margin-bottom">New Instrument</a>

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if not request.GET %} class="active"{% endif %}>
                        <a href="{% url 'admin:instruments:index' %}">All Instruments</a>
                    </li>
                    {% for telescope in telescopes %}
                    <li{% if request.GET.telescope and request.GET.telescope == telescope.pk|stringformat:'i' %} class="active"{% endif %}>
                        <a href="?telescope={{ telescope.pk }}">{{ telescope }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
