{% extends "base.html" %}

{% block title %}
Categories &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if categories %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td><a href="{% url 'maintenance:categories:update' pk=category.pk %}">{{ category.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No categories found.</h3>
    {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{% url 'maintenance:categories:create' %}" class="btn btn-success btn-block margin-bottom">New Category</a>
    </div>
</div>
{% endblock %}
