{% extends "base.html" %}

{% block title %}
Decline Allocation &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="callout callout-info">
    <p>If you would like to comment on your reasons for declining this allocation, you can do so below.</p>
</div>

<form action="{% url 'applications:decline' application_id=application.pk %}" method="post">
    {% csrf_token %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ application.title }}</h3>
            <span class="pull-right">{{ application }}</span>
        </div>

        <div class="box-body" style="padding: 0;">
            {{ form.message }}
        </div>

        <div class="box-footer">
            <a href="{% url 'applications:edit' application_id=application.pk %}" class="btn" style="padding-left: 0;"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <button type="submit" class="btn btn-primary pull-right">Decline Allocation</button>
        </div>
    </div>
</form>
{% endblock %}
