{% csrf_token %}

<style>
.box h4 {
    border-bottom: 2px solid #ecf0f5;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
</style>

{{ form.facility.as_hidden }}

<div class="box-body">
    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        <label>{{ form.title.label }}</label>
        {{ form.title }}
        {% if form.title.errors %}
        <p class="help-block">{{ form.title.errors.as_text }}</p>
        {% endif %}
    </div>
    <div class="form-group{% if form.abstract.errors %} has-error{% endif %}">
        <label>{{ form.abstract.label }}</label>
        {{ form.abstract }}
        <p class="help-block">{{ form.abstract.help_text }}</label>
    </div>
    <div class="form-group{% if form.abstract_public.errors %} has-error{% endif %}">
        <label>{{ form.abstract_public.label }}</label>
        {{ form.abstract_public }}
        <p class="help-block">{{ form.abstract_public.help_text }}</label>
    </div>

    <div class="row">
        {% if form.telescope.field.choices.queryset.all|length %}
        <div class="col-md-3">
            <div class="form-group{% if form.telescope.errors %} has-error{% endif %}">
                <label>{{ form.telescope.label }}</label>
                {{ form.telescope }}
            </div>
        </div>
        {% else %}
            {% for option in form.telescope.field.choices.queryset.all %}
            <input type="hidden" name="telescope" value="{{ option.id }}">
            {% endfor %}
        {% endif %}

        {% if form.telescope.field.choices.queryset.all|length > 1 or form.instrument.field.choices.queryset.all|length > 1 %}
        <div class="col-md-3">
            <div class="form-group{% if form.instrument.errors %} has-error{% endif %}">
                <label>{{ form.instrument.label }}</label>
                {% if form.instrument.field.choices.queryset.all|length %}
                    {{ form.instrument }}
                {% else %}
                <select id="{{ form.instrument.auto_id }}" name="{{ form.instrument.html_name }}" class="form-control">
                    <option value="" selected="selected">Please choose a telescope</option>
                </select>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% for option in form.instrument.field.choices.queryset.all %}
            <input type="hidden" name="instrument" value="{{ option.id }}">
            {% endfor %}
        {% endif %}

        <div class="col-md-3">
            <div class="form-group{% if form.gratings_filters.errors %} has-error{% endif %}">
                <label>{{ form.gratings_filters.label }}</label>
                {{ form.gratings_filters }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group{% if form.snr.errors %} has-error{% endif %}">
                <label>{{ form.snr.label }}</label>
                {{ form.snr }}
                <p class="help-block">{{ form.snr.help_text }}</p>
            </div>
        </div>
    </div>

    <h4>Magnitude Range</h4>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.magnitude_range_min.errors %} has-error{% endif %}">
                <label>{{ form.magnitude_range_min.label }}</label>
                {{ form.magnitude_range_min }}
                <p class="help-block">{{ form.magnitude_range_min.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.magnitude_range_max.errors %} has-error{% endif %}">
                <label>{{ form.magnitude_range_max.label }}</label>
                {{ form.magnitude_range_max }}
                <p class="help-block">{{ form.magnitude_range_max.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.magnitude_range_filter.errors %} has-error{% endif %}">
                <label>{{ form.magnitude_range_filter.label }}</label>
                {{ form.magnitude_range_filter }}
            </div>
        </div>
    </div>

    <h4>Requested Time in Weeks</h4>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.time_dark.errors %} has-error{% endif %}">
                <label>{{ form.time_dark.label }}</label>
                {{ form.time_dark }}
                <p class="help-block">{{ form.time_dark.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_grey.errors %} has-error{% endif %}">
                <label>{{ form.time_grey.label }}</label>
                {{ form.time_grey }}
                <p class="help-block">{{ form.time_grey.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_bright.errors %} has-error{% endif %}">
                <label>{{ form.time_bright.label }}</label>
                {{ form.time_bright }}
                <p class="help-block">{{ form.time_bright.errors.as_text }}</p>
            </div>
        </div>
    </div>

    <h4>Minimum Useful Time in Weeks</h4>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.time_min_dark.errors %} has-error{% endif %}">
                <label>{{ form.time_min_dark.label }}</label>
                {{ form.time_min_dark }}
                <p class="help-block">{{ form.time_min_dark.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_min_grey.errors %} has-error{% endif %}">
                <label>{{ form.time_min_grey.label }}</label>
                {{ form.time_min_grey }}
                <p class="help-block">{{ form.time_min_grey.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_min_bright.errors %} has-error{% endif %}">
                <label>{{ form.time_min_bright.label }}</label>
                {{ form.time_min_bright }}
                <p class="help-block">{{ form.time_min_bright.errors.as_text }}</p>
            </div>
        </div>
    </div>

    <h4>Additional Time in Weeks</h4>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.time_additional_dark.errors %} has-error{% endif %}">
                <label>{{ form.time_additional_dark.label }}</label>
                {{ form.time_additional_dark }}
                <p class="help-block">{{ form.time_additional_dark.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_additional_grey.errors %} has-error{% endif %}">
                <label>{{ form.time_additional_grey.label }}</label>
                {{ form.time_additional_grey }}
                <p class="help-block">{{ form.time_additional_grey.errors.as_text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.time_additional_bright.errors %} has-error{% endif %}">
                <label>{{ form.time_additional_bright.label }}</label>
                {{ form.time_additional_bright }}
                <p class="help-block">{{ form.time_additional_bright.errors.as_text }}</p>
            </div>
        </div>
    </div>
    <p class="help-block">Additional time required to complete your project.</p>

    <div class="form-group{% if form.time_grey_moon_quarter.errors %} has-error{% endif %}">
        <label>{{ form.time_grey_moon_quarter.label }}</label>
        {% for field in form.time_grey_moon_quarter %}
            {% if forloop.first %}
                {{ field.as_hidden }}
            {% else %}
            <div class="radio">{{ field }}</div>
            {% endif %}
        {% endfor %}
        <p class="help-block">{{ form.time_grey_moon_quarter.help_text }}</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.dates_preferred.errors %} has-error{% endif %}">
                <label>{{ form.dates_preferred.label }}</label>
                {{ form.dates_preferred }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.dates_impossible.errors %} has-error{% endif %}">
                <label>{{ form.dates_impossible.label }}</label>
                {{ form.dates_impossible }}
            </div>
        </div>
    </div>

    <div class="form-group{% if form.dates_impossible_justification.errors %} has-error{% endif %}">
        <label>{{ form.dates_impossible_justification.label }}</label>
        {{ form.dates_impossible_justification }}
        <p class="help-block">{{ form.dates_impossible_justification.help_text }}</p>
    </div>

    <div class="form-group{% if form.time_constraints_other.errors %} has-error{% endif %}">
        <label>{{ form.time_constraints_other.label }}</label>
        {{ form.time_constraints_other }}
        <p class="help-block">{{ form.time_constraints_other.help_text }}</p>
    </div>

    <div class="form-group{% if form.required_support.errors %} has-error{% endif %}">
        <div class="checkbox">
            <label>{{ form.is_support_required }} Support Required</label>
        </div>
        {{ form.required_support }}
        <p class="help-block">{{ form.required_support.help_text }}</p>
    </div>

    <h4>Targets</h4>

    <div id="targets">
    {{ form.formsets.targets.management_form }}
    {% for target_form in form.formsets.targets %}
        <div class="row">
            {{ target_form.id.as_hidden }}
            <div class="col-md-2">
                <div class="form-group{% if target_form.name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ target_form.name.label }}</label>
                    {{ target_form.name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if target_form.right_ascension.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ target_form.right_ascension.label }}</label>
                    {{ target_form.right_ascension }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if target_form.declination.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ target_form.declination.label }}</label>
                    {{ target_form.declination }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if target_form.vmagnitude.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ target_form.vmagnitude.label }}</label>
                    {{ target_form.vmagnitude }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if target_form.comment.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ target_form.comment.label }}</label>
                    {{ target_form.comment }}
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    {% if forloop.last %}
                        <button type="button" class="btn btn-sm btn-default pull-right form-control-static hidden-sm hidden-xs add-target" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-block btn-success hidden-md hidden-lg add-target">Add Another Target</button>
                    {% else %}
                        {{ target_form.DELETE.as_hidden }}
                        <button type="button" class="btn btn-sm btn-default pull-right hidden-sm hidden-xs" onclick="$('#{{ target_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-block btn-danger delete-target hidden-md hidden-lg" onclick="$('#{{ target_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" >Remove Target</button>
                    {% endif %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="hidden-md hidden-lg" style="clear: both;">{% endif %}
        </div>
    {% endfor %}
    </div>

    <p class="help-block">The targets you are planning to observe.</p>

    <div id="empty-target-form" style="display: none;">
        {{ form.formsets.targets.empty_form.id.as_hidden }}
        <div class="row">
            <hr class="hidden-md hidden-lg">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.targets.empty_form.name.label }}</label>
                    {{ form.formsets.targets.empty_form.name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.targets.empty_form.right_ascension.label }}</label>
                    {{ form.formsets.targets.empty_form.right_ascension }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.targets.empty_form.declination.label }}</label>
                    {{ form.formsets.targets.empty_form.declination }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.targets.empty_form.vmagnitude.label }}</label>
                    {{ form.formsets.targets.empty_form.vmagnitude }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.targets.empty_form.comment.label }}</label>
                    {{ form.formsets.targets.empty_form.comment }}
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-default pull-right delete-target hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-block btn-danger delete-target hidden-md hidden-lg">Remove Target</button>
            </div>
        </div>
    </div>

    <h4>Other Applications</h4>

    <div id="other-applications">
    {{ form.formsets.other_applications.management_form }}
    {% for other_application_form in form.formsets.other_applications %}
        <div class="row">
            {{ other_application_form.id.as_hidden }}
            <div class="col-md-6">
                <div class="form-group{% if other_application_form.telescope.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ other_application_form.telescope.label }}</label>
                    {{ other_application_form.telescope }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group{% if other_application_form.title.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ other_application_form.title.label }}</label>
                    {{ other_application_form.title }}
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    {% if forloop.last %}
                        <button type="button" class="btn btn-sm btn-default pull-right form-control-static hidden-sm hidden-xs add-other-application" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-block btn-success add-other-application hidden-md hidden-lg">Add Another Application</button>
                    {% else %}
                        {{ other_application_form.DELETE.as_hidden }}
                        <button type="button" class="btn btn-sm btn-default pull-right hidden-sm hidden-xs" onclick="$('#{{ other_application_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-block btn-danger hidden-md hidden-lg" onclick="$('#{{ other_application_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();">Remove Application</button>
                    {% endif %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="hidden-md hidden-lg" style="clear: both;">{% endif %}
        </div>
    {% endfor %}
    </div>

    <p class="help-block">Other applications this quarter for similar programmes (e.g. PATT, ESO, AAT, CTIO). Please include applications for all telescopes.</p>

    <div id="empty-other-application-form" style="display: none;">
        {{ form.formsets.other_applications.empty_form.id.as_hidden }}
        <div class="row">
            <hr class="hidden-md hidden-lg">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.other_applications.empty_form.telescope.label }}</label>
                    {{ form.formsets.other_applications.empty_form.telescope }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.other_applications.empty_form.title.label }}</label>
                    {{ form.formsets.other_applications.empty_form.title }}
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-default pull-right delete-other-application hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-block btn-danger hidden-md hidden-lg delete-other-application">Remove Application</button>
            </div>
        </div>
    </div>

    <h4>Previous Applications</h4>

    <div id="previous-applications">
    {{ form.formsets.previous_applications.management_form }}
    {% for previous_application_form in form.formsets.previous_applications %}
        <div class="row">
            {{ previous_application_form.id.as_hidden }}
            <div class="col-md-2">
                <div class="form-group{% if previous_application_form.reference.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ previous_application_form.reference.label }}</label>
                    {{ previous_application_form.reference }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if previous_application_form.time_awarded.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ previous_application_form.time_awarded.label }}</label>
                    {{ previous_application_form.time_awarded }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if previous_application_form.useful_percentage.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ previous_application_form.useful_percentage.label }}</label>
                    {{ previous_application_form.useful_percentage }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if previous_application_form.comments.errors %} has-error {% endif %}">
                    <label class="hidden-md hidden-lg">{{ previous_application_form.comments.label }}</label>
                    {{ previous_application_form.comments }}
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    {% if forloop.last %}
                        <button type="button" class="btn btn-sm btn-default pull-right form-control-static add-previous-application hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-block btn-success add-previous-application hidden-md hidden-lg">Add Another Application</button>
                    {% else %}
                        {{ previous_application_form.DELETE.as_hidden }}
                        <button type="button" class="btn btn-sm btn-default pull-right hidden-sm hidden-xs" onclick="$('#{{ previous_application_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-block btn-danger hidden-md hidden-lg" onclick="$('#{{ previous_application_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();">Remove Application</button>
                    {% endif %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="hidden-md hidden-lg" style="clear: both;">{% endif %}
        </div>
    {% endfor %}
    </div>

    <p class="help-block">Previous applications (up to the last 2 years) for the same project. Give the newest first and exclude any that do not fit the form. You should also discuss previous results in the text of the scientific justification</p>

    <div id="empty-previous-application-form" style="display: none;">
        {{ form.formsets.previous_applications.empty_form.id.as_hidden }}
        <div class="row">
            <hr class="hidden-md hidden-lg">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.previous_applications.empty_form.reference.label }}</label>
                    {{ form.formsets.previous_applications.empty_form.reference }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.previous_applications.empty_form.time_awarded.label }}</label>
                    {{ form.formsets.previous_applications.empty_form.time_awarded }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.previous_applications.empty_form.useful_percentage.label }}</label>
                    {{ form.formsets.previous_applications.empty_form.useful_percentage }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="hidden-md hidden-lg">{{ form.formsets.previous_applications.empty_form.comments.label }}</label>
                    {{ form.formsets.previous_applications.empty_form.comments }}
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-default pull-right delete-previous-application hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none; padding: 10px 12px;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-block btn-danger delete-previous-application hidden-md hidden-lg">Remove Application</button>
            </div>
        </div>
    </div>

    {% if form.formsets.applicants.non_form_errors %}
    <h4 class="bg-red">{{ form.formsets.applicants.non_form_errors.as_text }}</h4>
    {% else %}
    <h4>Applicants</h4>
    {% endif %}

    <div id="applicants">
    {{ form.formsets.applicants.management_form }}
    {% for applicant_form in form.formsets.applicants %}
        <div class="row">
            {{ applicant_form.id.as_hidden }}
            <div class="col-md-2">
               <div class="form-group{% if applicant_form.first_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.first_name.label }}</label>
                    {{ applicant_form.first_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if applicant_form.last_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.last_name.label }}</label>
                    {{ applicant_form.last_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if applicant_form.email.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.email.label }}</label>
                    {{ applicant_form.email }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if applicant_form.institution.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.institution.label }}</label>
                    {{ applicant_form.institution }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group{% if applicant_form.is_observer.errors %} has-error{% endif %}">
                            <label class="hidden-md hidden-lg">Role</label>
                            {{ applicant_form.role }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>{{ applicant_form.is_observer }} Observer</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                {% if forloop.last %}
                    <button type="button" class="btn btn-sm btn-default pull-right add-applicant hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none;">
                        <span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-block btn-success add-applicant hidden-md hidden-lg">Add Another Applicant</button>
                {% else %}
                    {{ applicant_form.DELETE.as_hidden }}
                    <button type="button" class="btn btn-sm btn-default pull-right hidden-sm hidden-xs" onclick="$('#{{ applicant_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" style="border: none; background-color: transparent !important; box-shadow: none;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-block btn-danger hidden-md hidden-lg" onclick="$('#{{ applicant_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();">Remove Applicant</button>
                {% endif %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="hidden-md hidden-lg" style="clear: both;">{% endif %}
        </div>
    {% endfor %}
    </div>

    <div id="empty_applicant_form" style="display: none;">
        {{ form.formsets.applicants.empty_form.id.as_hidden }}
        <div class="row">
            <hr class="hidden-md hidden-lg">
            <div class="col-md-2">
               <div class="form-group{% if form.formsets.applicants.empty_form.first_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.first_name.label }}</label>
                    {{ form.formsets.applicants.empty_form.first_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if form.formsets.applicants.empty_form.last_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.last_name.label }}</label>
                    {{ form.formsets.applicants.empty_form.last_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if form.formsets.applicants.empty_form.email.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.email.label }}</label>
                    {{ form.formsets.applicants.empty_form.email }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if form.formsets.applicants.empty_form.institution.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.institution.label }}</label>
                    {{ form.formsets.applicants.empty_form.institution }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group{% if form.formsets.applicants.empty_form.is_observer.errors %} has-error{% endif %}">
                            <label class="hidden-md hidden-lg">Role</label>
                            {{ form.formsets.applicants.empty_form.role }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>{{ form.formsets.applicants.empty_form.is_observer }} Observer</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-default pull-right form-control-static delete-applicant hidden-sm hidden-xs"  style="border: none; background-color: transparent !important; box-shadow: none;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-block btn-danger delete-applicant hidden-md hidden-lg">Remove Applicant</button>
            </div>
        </div>
    </div>

    <h4>Principal Contact</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
               <label>{{ form.first_name.label }}</label>
               {{ form.first_name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                <label>{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
        </div>
    </div>

    <div class="form-group{% if form.street.errors %} has-error{% endif %}">
        <label>Postal Address</label>
        {{ form.street }}
    </div>
    <div class="form-group{% if form.street2.errors %} has-error{% endif %}">
         {{ form.street2 }}
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.city.errors %} has-error{% endif %}">
                <label>{{ form.city.label }}</label>
                {{ form.city }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.postal_code.errors %} has-error{% endif %}">
                <label>{{ form.postal_code.label }}</label>
                {{ form.postal_code }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                <label>{{ form.country.label }}</label>
                {{ form.country }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                <label>{{ form.phone.label }}</label>
                {{ form.phone }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div>
    </div>

    <h4>{{ form.scientific_justification.label }}</h4>

    <div class="callout {% if form.scientific_justification.errors %}callout-danger{% else %}callout-info{% endif %}">
        <p>{{ form.scientific_justification.help_text }}</p>
    </div>

    <div class="form-group{% if form.scientific_justification.errors %} has-error{% endif %}">
        <button type="button" id="fake_upload_button" class="btn btn-default">Upload File</button>&nbsp;&nbsp;
        <div style="display: none;">
            {{ form.scientific_justification }}
        </div>
        <span id="file_name">
        {% if application.scientific_justification %}
            <span class="glyphicon glyphicon-paperclip"></span>
            <a href="{{ application.scientific_justification.url }}">&nbsp;{{ application.scientific_justification.name }}</a>
        {% endif %}
        </span>
        {% if form.scientific_justification.errors %}
            <p class="help-block">{{ form.scientific_justification.errors.as_text }}</p>
        {% endif %}
    </div>
</div>
