{% extends "base.html" %}

{% block title %}
{{ application.title }} &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<script>
var telescopes = {{ telescopes|safe }};
var instruments = {{ instruments|safe }};
</script>
{% endblock %}

{% block content %}
{% if form.errors or form.formsets.targets.errors or form.formsets.other_applications.errors or form.formsets.previous_applications.errors or form.formsets.applicants.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors or form.formsets.targets.errors or form.formsets.other_applications.errors or form.formsets.previous_applications.errors or form.formsets.applicants.errors %}box-danger{% else %}box-primary{% endif %}">

    <div class="box-header with-border">
        <h3 class="box-title">{{ application.title }}</h3>
        <span class="text-muted pull-right">{{ application.facility }}</span>
    </div>

    <form action="{% url 'applications:update' pk=application.pk %}" method="post" enctype="multipart/form-data" role="form">
        {% include 'applications/saao/form.html' %}

        <div class="box-footer">
            <div class="pull-right">
                <input type="submit" value="Save Draft" name="draft" class="btn btn-default" style="margin-right: 1em;">
                <input type="submit" value="Submit for Approval" name="submit" class="btn btn-primary">
            </div>
            <input type="button" value="Delete Draft" name="delete" class="btn btn-danger" data-toggle="modal" data-target="#delete-draft">
        </div>
    </form>
</div>

<div id="delete-draft" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Application</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this application?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <form action="{% url 'applications:update' pk=application.pk %}" method="post" role="form">
                    {% csrf_token %}
                    <input type="submit" value="Delete Draft" name="delete" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
