{% extends "base.html" %}

{% block title %}
New Application &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<script>
var telescopes = {{ telescopes|safe }};
var instruments = {{ instruments|safe }};
</script>
{% endblock %}

{% block content %}
{% if form.errors or form.formsets.applicants.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% else %}
<div class="callout callout-info">
    <p>You can <a href="{% url 'applications:copy' facility='KMTNET' %}" style="color: #111;">create a copy of a previous application</a> for a quick start.
</div>
{% endif %}

<div class="box {% if form.errors or form.formsets.applicants.errors %}box-danger{% else %}box-primary{% endif %}">

    <div class="box-header with-border">
        <h3 class="box-title">New Application</h3>
        <span class="text-muted pull-right">{{ facility }}</span>
    </div>

    <form action="{% url 'applications:create' facility=facility.name %}" method="post" enctype="multipart/form-data" role="form">
        {% include 'applications/kmtnet/form.html' %}

        <div class="box-footer">
            <div class="pull-right">
                <input type="submit" value="Save Draft" name="draft" class="btn btn-default" style="margin-right: 1em;">
                <input type="submit" value="Submit for Approval" name="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
