{% csrf_token %}

<style>
.box h4 {
    border-bottom: 2px solid #ecf0f5;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
</style>

{{ form.facility.as_hidden }}

<div class="box-body">
    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        <label>{{ form.title.label }}</label>
        {{ form.title }}
        {% if form.title.errors %}
        <p class="help-block">{{ form.title.errors.as_text }}</p>
        {% endif %}
    </div>
    <div class="form-group{% if form.abstract.errors %} has-error {% endif %}">
        <label>{{ form.abstract.label }}</label>
        {{ form.abstract }}
        <p class="help-block">{{ form.abstract.help_text }}</label>
    </div>

    <div class="row">
        {% if form.telescope.field.choices.queryset.all|length > 1 %}
        <div class="col-md-3">
            <div class="form-group{% if form.telescope.errors %} has-error{% endif %}">
                <label>{{ form.telescope.label }}</label>
                {{ form.telescope }}
            </div>
        </div>
        {% else %}
            {% for option in form.telescope.field.choices.queryset.all %}
            <input type="hidden" name="telescope" value="{{ option.id }}">
            {% endfor %}
        {% endif %}

        {% if form.telescope.field.choices.queryset.all|length > 1 or form.instrument.field.choices.queryset.all|length > 1 %}
        <div class="col-md-3">
            <div class="form-group{% if form.instrument.errors %} has-error{% endif %}">
                <label>{{ form.instrument.label }}</label>
                {% if form.instrument.field.choices.queryset.all|length %}
                    {{ form.instrument }}
                {% else %}
                <select id="{{ form.instrument.auto_id }}" name="{{ form.instrument.html_name }}" class="form-control">
                    <option value="" selected="selected">Please choose a telescope</option>
                </select>
                {% endif %}
            </div>
        </div>
        {% else %}
            {% for option in form.instrument.field.choices.queryset.all %}
            <input type="hidden" name="instrument" value="{{ option.id }}">
            {% endfor %}
        {% endif %}
    </div>

    {% if form.formsets.applicants.non_form_errors %}
    <h4 class="bg-red">{{ form.formsets.applicants.non_form_errors.as_text }}</h4>
    {% else %}
    <h4>Applicants</h4>
    {% endif %}

    <div id="applicants">
    {{ form.formsets.applicants.management_form }}
    {% for applicant_form in form.formsets.applicants %}

        {% comment %} These aren't required for KMTNET applications. {% endcomment %}
        {{ applicant_form.is_observer.as_hidden }}
        {{ applicant_form.role.as_hidden }}

        <div class="row">
            {{ applicant_form.id.as_hidden }}
            <div class="col-md-3">
               <div class="form-group{% if applicant_form.first_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.first_name.label }}</label>
                    {{ applicant_form.first_name }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if applicant_form.last_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.last_name.label }}</label>
                    {{ applicant_form.last_name }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if applicant_form.email.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.email.label }}</label>
                    {{ applicant_form.email }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if applicant_form.institution.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ applicant_form.institution.label }}</label>
                    {{ applicant_form.institution }}
                </div>
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                {% if forloop.last %}
                    <button type="button" class="btn btn-sm btn-default pull-right add-applicant hidden-sm hidden-xs" style="border: none; background-color: transparent !important; box-shadow: none;">
                        <span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-block btn-success add-applicant hidden-md hidden-lg">Add Another Applicant</button>
                {% else %}
                    {{ applicant_form.DELETE.as_hidden }}
                    <button type="button" class="btn btn-sm btn-default pull-right hidden-sm hidden-xs" onclick="$('#{{ applicant_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();" style="border: none; background-color: transparent !important; box-shadow: none;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-block btn-danger hidden-md hidden-lg" onclick="$('#{{ applicant_form.DELETE.auto_id }}').val(1); $(this).closest('.row').hide();">Remove Applicant</button>
                {% endif %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="hidden-md hidden-lg" style="clear: both;">{% endif %}
        </div>
    {% endfor %}
    </div>

    <div id="empty_applicant_form" style="display: none;">
        {{ form.formsets.applicants.empty_form.id.as_hidden }}
        {{ form.formsets.applicants.empty_form.is_observer.as_hidden }}
        {{ form.formsets.applicants.empty_form.role.as_hidden }}
        <div class="row">
            <hr class="hidden-md hidden-lg">
            <div class="col-md-3">
               <div class="form-group{% if form.formsets.applicants.empty_form.first_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.first_name.label }}</label>
                    {{ form.formsets.applicants.empty_form.first_name }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if form.formsets.applicants.empty_form.last_name.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.last_name.label }}</label>
                    {{ form.formsets.applicants.empty_form.last_name }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group{% if form.formsets.applicants.empty_form.email.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.email.label }}</label>
                    {{ form.formsets.applicants.empty_form.email }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group{% if form.formsets.applicants.empty_form.institution.errors %} has-error{% endif %}">
                    <label class="hidden-md hidden-lg">{{ form.formsets.applicants.empty_form.institution.label }}</label>
                    {{ form.formsets.applicants.empty_form.institution }}
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-sm btn-default pull-right form-control-static delete-applicant hidden-sm hidden-xs"  style="border: none; background-color: transparent !important; box-shadow: none;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-block btn-danger delete-applicant hidden-md hidden-lg">Remove Applicant</button>
            </div>
        </div>
    </div>

    <h4>Principal Contact</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
               <label>First Name</label>
               {{ form.first_name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                <label>Last Name</label>
                {{ form.last_name }}
            </div>
        </div>
    </div>

    <div class="form-group{% if form.street.errors %} has-error{% endif %}">
        <label>Postal Address</label>
        {{ form.street }}
    </div>
    <div class="form-group{% if form.street2.errors %} has-error{% endif %}">
         {{ form.street2 }}
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group{% if form.city.errors %} has-error{% endif %}">
                <label>{{ form.city.label }}</label>
                {{ form.city }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.postal_code.errors %} has-error{% endif %}">
                <label>{{ form.postal_code.label }}</label>
                {{ form.postal_code }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group{% if form.country.errors %} has-error{% endif %}">
                <label>{{ form.country.label }}</label>
                {{ form.country }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                <label>{{ form.phone.label }}</label>
                {{ form.phone }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div>
    </div>

    <h4>{{ form.scientific_justification.label }}</h4>

    <div class="callout {% if form.scientific_justification.errors %}callout-danger{% else %}callout-info{% endif %}">
        <p>{{ form.scientific_justification.help_text }}</p>
    </div>

    <div class="form-group{% if form.scientific_justification.errors %} has-error{% endif %}">
        <button type="button" id="fake_upload_button" class="btn btn-default">Upload File</button>&nbsp;&nbsp;
        <div style="display: none;">
            {{ form.scientific_justification }}
        </div>
        <span id="file_name">
        {% if application.scientific_justification %}
            <span class="glyphicon glyphicon-paperclip"></span>
            <a href="{{ application.scientific_justification.url }}">&nbsp;{{ application.scientific_justification.name }}</a>
        {% endif %}
        </span>
        {% if form.scientific_justification.errors %}
            <p class="help-block">{{ form.scientific_justification.errors.as_text }}</p>
        {% endif %}
    </div>
</div>
