{% extends "base.html" %}

{% block title %}
{{ application.title }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<style>
.box h4 {
    border-bottom: 2px solid #ecf0f5;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
</style>

<div class="callout callout-info">
    <p>Please review the information you entered below and hit the submit button to submit your application.</p>
</div>

<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">{{ application.title }}</h3>
        {% if call %}<span class="pull-right">{{ call }}</span>{% endif %}
    </div>

    <div class="box-body">

        {{ application.abstract|linebreaks }}

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Telescope</label>
                    <p class="form-control-static">
                        {{ application.telescope.name }}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Instrument</label>
                    <p class="form-control-static">
                        {{ application.instrument.name }}
                    </p>
                </div>
            </div>
        </div>

        <h4>Applicants</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Institution</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in application.applicants.all %}
                <tr>
                    <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.institution }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <h4>Principal Contact</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{ application.first_name }} {{ application.last_name }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Phone</label>
                    <p class="form-control-static">
                        {{ application.phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control-static">
                        {{ application.email }}
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Postal address</label>
            <p class="form-control-static">
                {{ application.postal_address }}
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <p class="form-control-static">
                        {{ application.city }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label>ZIP / Postal Code</label>
                        <p class="form-control-static">
                            {{ application.postal_code }}
                        </p>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <p class="form-control-static">
                        {{ application.get_country_display }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <a href="{% url 'applications:update' pk=application.pk %}" class="btn" style="padding-left: 0;"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        <form action="{% url 'applications:submit' pk=application.pk %}" method="post" class="pull-right">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit Application</button>
        </form>
    </div>
</div>
{% endblock %}
