{% extends "base.html" %}

{% block title %}
Facilities &mdash; {{ site.name }}
{% endblock %}

{% block header %}
<section class="content-header">
    <h1>Facilities</h1>
    <a href="{% url 'admin:facilities:add' %}" class="btn btn-sm pull-right bg-green" style="position: absolute; top: 15px; right: 15px;">New Facility</a>
</section>
{% endblock %}

{% block content %}
    {% if facilities %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facility in facilities %}
                        <tr>
                            <td><a href="{% url 'admin:facilities:edit' pk=facility.pk %}">{{ facility }}</a></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
