{% extends "base.html" %}

{% block title %}
{{ form.instance }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="row">
    <div class="col-md-8">
        <div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
            <div class="box-header with-border">
                <h3 class="box-title">{{ form.instance }}</h3>
            </div>

            <form action="{% url 'admin:groups:edit' pk=form.instance.pk %}" method="post">
                {% include 'admin/groups/form.html' %}

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                    <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
                </div>
            </form>
        </div>
    </div>
    {% if form.instance.user_set.all|length > 0 %}
    <div class="col-md-4">
        <ul class="users-list clearfix">
            {% for member in form.instance.user_set.all %}
            <li>
                {% if member.profile.avatar %}
                <div style="display: block; height: 75px; max-width: 100%; background-image: url('{{ member.profile.avatar.url }}'); background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 50%;"></div>
                {% else %}
                <div style="display: block; height: 75px; max-width: 100%; background-image: url('/static/img/avatar.png'); background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 50%;"></div>
                {% endif %}
                <a class="users-list-name" href="{% url 'admin:users:edit' pk=member.pk %}">{% if member.first_name %}{{ member.first_name }}{% else %}{{ member.email }}{% endif %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
