{% csrf_token %}

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
                <p class="help-block">{{ form.name.errors.as_text }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Permissions</label>
                {% for option in form.permissions %}
                <div class="checkbox">{{ option }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
