{% extends "base.html" %}

{% block title %}
Groups &mdash; {{ site.name }}
{% endblock %}

{% block header %}
<section class="content-header">
    <h1>Groups</h1>
    <a href="{% url 'admin:groups:add' %}" class="btn btn-sm pull-right bg-green" style="position: absolute; top: 15px; right: 15px;">New Group</a>
</section>
{% endblock %}

{% block content %}
    {% if groups %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td><a href="{% url 'admin:groups:edit' pk=group.pk %}">{{ group }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

