{% extends "base.html" %}

{% block title %}
Applications &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if applications %}
        <div class="box">
            <div class="box-body no-padding table-responsive">
                <table class="table">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm hidden-md" style="width: 50px;">&nbsp;</th>
                        <th class="visible-lg"></th>
                        <th>Title</th>
                        <th>Telescope</th>
                        <th>Instrument</th>
                        <th style="text-align: right;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td class="hidden-xs hidden-sm hidden-md">
                            {% if application.reference %}
                            <a href="{% url 'admin:applications:download' reference=application.reference %}" title="Download Application"><span class="label" style="color: crimson;"><span class="glyphicon glyphicon-file"></span> PDF</span></a>
                            {% endif %}
                        </td>
                        <td class="visible-lg">
                            {{ application }}
                        </td>
                        <td style="white-space: nowrap; width: 300px; overflow: hidden; text-overflow: ellipsis; max-width: 300px;"><a href="{% url 'admin:applications:edit' pk=application.pk %}" title="{{ application.title }}">{{ application.title }}</a></td>
                        <td>{{ application.telescope }}</td>
                        <td>{{ application.instrument }}</td>
                        <td style="text-align: right;">
                        {% if application.state == 'submitted' %}
                            <span class="label text-blue">{{ application.state|upper }}</span>
                        {% elif application.state == 'approved' or application.state == 'accepted' %}
                            <span class="label text-green">{{ application.state|upper }}</span>
                        {% elif application.state == 'rejected' or application.state == 'declined' %}
                            <span class="label text-red">{{ application.state|upper }}</span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No Applications Available</h3>
    {% endif %}
    </div>

    <div class="col-md-3">
        <a href="{% url 'admin:rota' %}?{{ request.GET.urlencode }}" class="btn bg-black btn-block margin-bottom" style=" position: relative; font-weight: bold;"><span class="glyphicon glyphicon-download pull-left" style="line-height: 22px; background-color: rgba(255, 255, 255, 0.05); position: absolute; left: 0; top: 0; bottom: 0; padding: 5px 0; border-radius: 3px 0 0 3px; width: 50px;"></span>&nbsp;DOWNLOAD</a>

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if not request.GET.state %} class="active"{% endif %}>
                        <a href="{% url 'admin:applications:index' %}">All Applications</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'submitted' %} class="active"{% endif %}>
                        <a href="?state=submitted{% for k,v in request.GET.iteritems %}{% if k != 'state' %}&amp;{{ k }}={{ v }}{% endif %}{% endfor %}">Submitted</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'approved' %} class="active"{% endif %}>
                        <a href="?state=approved{% for k,v in request.GET.iteritems %}{% if k != 'state' %}&amp;{{ k }}={{ v }}{% endif %}{% endfor %}">Approved</a>
                    </li>
                    <li{% if request.GET.state and request.GET.state == 'rejected' %} class="active"{% endif %}>
                        <a href="?state=rejected{% for k,v in request.GET.iteritems %}{% if k != 'state' %}&amp;{{ k }}={{ v }}{% endif %}{% endfor %}">Rejected</a>
                    </li>
                </ul>
            </div>
        </div>

        {% if perms.portal.add_call %}
        <a href="{% url 'admin:call_for_proposals' %}" class="btn btn-success btn-block margin-bottom">New Call for Proposals</a>
        {% endif %}

        {% if calls.count > 1 %}
            {% regroup calls|dictsort:'facility.name' by facility.name as call_list %}

            <div class="box box-solid">
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                    {% for call in call_list %}
                        <li class="nav-header" style="font-weight: 600;">
                            <a>{{ call.grouper }}</a>
                        </li>
                        {% for c in call.list %}
                        <li{% if request.GET.call and request.GET.call == c.pk|stringformat:'i' %} class="active"{% endif %}>
                            <a href="?call={{ c.pk }}{% for k,v in request.GET.iteritems %}{% if k != 'call' and k != 'facility' %}&amp;{{ k }}={{ v }}{% endif %}{% endfor %}">{{ c }}</a>
                        </li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
