{% extends "base.html" %}

{% block title %}
{{ application }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<style>
.box h4 {
    border-bottom: 2px solid #ecf0f5;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
</style>

{% if not application.call and perms.portal.change_application %}
<div class="callout callout-info">
    <p>This application is not assigned to a call. Would you like to <a href="#" data-toggle="modal" data-target="#assign-to-call" style="color: #111;">assign one now</a>?</p>
</div>
{% endif %}

<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">{{ application.title }}</h3>
        <span class="pull-right">{{ application.reference }}</span>
    </div>

    <div class="box-body">

        {{ application.abstract|linebreaks }}

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Telescope</label>
                    <p class="form-control-static">
                        {{ application.telescope.name }}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Instrument</label>
                    <p class="form-control-static">
                        {{ application.instrument.name }}
                    </p>
                </div>
            </div>
        </div>

        <h4>Applicants</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Institution</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in application.applicants.all %}
                <tr>
                    <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.institution }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <h4>Principal Contact</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{ application.first_name }} {{ application.last_name }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Phone</label>
                    <p class="form-control-static">
                        {{ application.phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control-static">
                        <a href="mailto:{{application.email}}?subject=[{{ application }}] {{ application.title }}">{{ application.email }}</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Postal Address</label>
            <p class="form-control-static">
                {{ application.postal_address }}
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <p class="form-control-static">
                        {{ application.city }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label>ZIP / Postal Code</label>
                        <p class="form-control-static">
                            {{ application.postal_code }}
                        </p>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <p class="form-control-static">
                        {{ application.get_country_display }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if application.state == 'submitted' %}
    {% if perms.portal.approve_application or perms.portal.reject_application %}
    <div class="box-footer">
        <input type="button" value="Revert to Draft" name="revert" class="btn btn-danger" data-toggle="modal" data-target="#revert-to-draft">
        <div class="pull-right">
            {% if perms.portal.reject_application %}
            <a href="{% url 'admin:applications:reject' pk=application.pk %}" class="btn btn-default">Reject Application</a>
            {% endif %}
            {% if perms.portal.approve_application %}
            <a href="{% url 'admin:applications:approve' pk=application.pk %}" class="btn btn-primary" style="margin-left: 1em;">Approve Application</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>

{% if application.state == 'submitted' %}
<div id="revert-to-draft" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Revert Application to Draft</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to revert this application to a draft?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <form action="{% url 'admin:applications:edit' pk=application.pk %}" method="post" role="form">
                    {% csrf_token %}
                    <input type="submit" value="Revert to Draft" name="_revert" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if not application.call %}
<div id="assign-to-call" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <form action="{% url 'admin:applications:edit' pk=application.pk %}" method="post" role="form">
        {% csrf_token %}

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Assign Call</h4>
                </div>
                <div class="modal-body">
                    <p>Select a call to assign to this application:</p>

                    <div class="form-group">
                    {% for call in form.call %}
                        <div class="radio">{{ call }}</div>
                    {% endfor %}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Assign to Call" name="_assign" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
