{% extends "base.html" %}

{% block title %}
{{ application }} &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/selectize.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/static/js/selectize.js"></script>
<script>
$(function() {
    $('#{{ form.to.auto_id }}').selectize({
        create: true
    });
    $('#{{ form.cc.auto_id }}').selectize({
        create: true
    });
});
</script>
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    Please enter a message before rejecting the application.
</div>
{% else %}
<div class="callout callout-info">
    Enter your message to the observer below and hit the reject button to notify them.
</div>
{% endif %}
<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">

    <form action="{% url 'admin:applications:reject' pk=application.pk %}" method="post">
        {% csrf_token %}

        <div class="box-header with-border">
            {{ form.subject }}
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group{% if form.to.errors %} has-error{% endif %}">
                        <label>Recipients</label>
                        {{ form.to }}
                        <p class="help-block">{{ form.to.errors.as_text }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group{% if form.cc.errors %} has-error{% endif %}">
                        <label>CC</label>
                        {{ form.cc }}
                        <p class="help-block">{{ form.cc.errors.as_text }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group{% if form.message.errors %} has-error{% endif %}">
                        {{ form.message }}
                        <p class="help-block">{{ form.message.errors.as_text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <a href="{% url 'admin:applications:edit' pk=application.pk %}" class="btn" style="padding-left: 0;"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
            <button type="submit" name="_notify" class="btn bg-red pull-right">Reject Application</button>
            <button type="submit" class="btn btn-default pull-right" style="margin-right: 1em;">Reject without notification</button>
        </div>

    </form>

</div>
{% endblock %}
