{% extends "base.html" %}

{% block title %}
{{ application }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<style>
.box h4 {
    border-bottom: 2px solid #ecf0f5;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
</style>

{% if not application.call and perms.portal.change_application %}
<div class="callout callout-info">
    <p>This application is not assigned to a call. Would you like to <a href="#" data-toggle="modal" data-target="#assign-to-call" style="color: #111;">assign one now</a>?</p>
</div>
{% endif %}

<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">{{ application.title }}</h3>
        <span class="pull-right">{{ application.reference }}</span>
    </div>

    <div class="box-body">

        {{ application.abstract|linebreaks }}

        <label>Summary for the General Public</label>
        {{ application.abstract_public|linebreaks }}

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Telescope</label>
                    <p class="form-control-static">
                        {{ application.telescope.name }}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Instrument</label>
                    <p class="form-control-static">
                        {{ application.instrument.name }}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Gratings and Filters</label>
                    <p class="form-control-static">
                        {{ application.gratings_filters }}
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>SNR</label>
                    <p class="form-control-static">
                        {{ application.snr }}
                    </p>
                </div>
            </div>
        </div>

        <h4>Magnitude Range</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Minimum (Brightest)</label>
                    <p class="form-control-static">
                        {{ application.magnitude_range_min }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Maximum (Faintest)</label>
                    <p class="form-control-static">
                        {{ application.magnitude_range_max }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Filter</label>
                    <p class="form-control-static">
                        {{ application.magnitude_range_filter }}
                    </p>
                </div>
            </div>
        </div>

        <h4>Requested Time</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Dark</label>
                    <p class="form-control-static">
                        {{ application.time_dark }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Grey</label>
                    <p class="form-control-static">
                        {{ application.time_grey }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Bright</label>
                    <p class="form-control-static">
                        {{ application.time_bright }}
                    </p>
                </div>
            </div>
        </div>

        <h4>Minimum Useful Time</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Dark</label>
                    <p class="form-control-static">
                        {{ application.time_min_dark }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Grey</label>
                    <p class="form-control-static">
                        {{ application.time_min_grey }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Bright</label>
                    <p class="form-control-static">
                        {{ application.time_min_bright }}
                    </p>
                </div>
            </div>
        </div>

        {% if application.time_additional_dark or application.time_additional_grey or application.time_additional_bright %}
        <fieldset>
            <legend>Additional Time</legend>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dark</label>
                        <p class="form-control-static">
                            {{ application.time_additional_dark|default:'-' }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Grey</label>
                        <p class="form-control-static">
                            {{ application.time_additional_grey|default:'-' }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Bright</label>
                        <p class="form-control-static">
                            {{ application.time_additional_bright|default:'-' }}
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
        {% endif %}

        <div class="form-group">
            <label>Preferred Moon Quarter Grey Time</label>
            <p class="form-control-static">
                {{ application.get_time_grey_moon_quarter_display }}
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Preferred Dates</label>
                    <p class="form-control-static">
                        {{ application.dates_preferred|default:'None' }}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Impossible Dates</label>
                    <p class="form-control-static">
                        {{ application.dates_impossible|default:'None' }}
                    </p>
                </div>
            </div>
        </div>

        {% if application.dates_impossible_justification %}
        <div class="form-group">
            <label>Justification for Impossible Dates</label>
            {{ application.dates_impossible_justification|linebreaks }}
        </div>
        {% endif %}

        <div class="form-group">
            <label>Other Time Constraints</label>
            {% if application.time_constraints_other %}
                {{ application.time_constraints_other|linebreaks }}
            {% else %}
                <p>None</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Required Support</label>
            {{ application.required_support|linebreaks }}
        </div>

        <h4>Targets</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Right Ascension</th>
                    <th>Declination</th>
                    <th>V Magnitude</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for target in application.targets.all %}
                <tr>
                    <td>{{ target.name }}</td>
                    <td>{{ target.right_ascension }}</td>
                    <td>{{ target.declination }}</td>
                    <td>{{ target.vmagnitude }}</td>
                    <td>{{ target.comment }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        {% if application.other_applications.all %}
        <h4>Other Applications</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Telescope</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for other_application in application.other_applications.all %}
                <tr>
                    <td>{{ other_application.telescope }}</td>
                    <td>{{ other_application.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif %}

        {% if application.previous_applications.all %}
        <h4>Previous Applications</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Reference Number</th>
                    <th>Date Awarded</th>
                    <th>Useful Percentage</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for previous_application in application.previous_applications.all %}
                <tr>
                    <td>{{ previous_application.reference }}</td>
                    <td>{{ previous_application.time_awarded }}</td>
                    <td>{{ previous_application.useful_percentage }}</td>
                    <td>{{ previous_application.comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif %}

        <h4>Applicants</h4>

        <div class="box-body table-responsive no-padding" style="margin: 0 -10px;">
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Institution</th>
                    <th>Role</th>
                    <th>Observer?</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in application.applicants.all %}
                <tr>
                    <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
                    <td>{{ applicant.email }}</td>
                    <td>{{ applicant.institution }}</td>
                    <td>{{ applicant.get_role_display }}</td>
                    <td>{{ applicant.is_observer|yesno:"Yes,No" }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <h4>Principal Contact</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">
                        {{ application.first_name }} {{ application.last_name }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Phone</label>
                    <p class="form-control-static">
                        {{ application.phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control-static">
                        <a href="mailto:{{application.email}}?subject=[{{ application }}] {{ application.title }}">{{ application.email }}</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Postal Address</label>
            <p class="form-control-static">
                {{ application.postal_address }}
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City</label>
                    <p class="form-control-static">
                        {{ application.city }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label>ZIP / Postal Code</label>
                        <p class="form-control-static">
                            {{ application.postal_code }}
                        </p>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Country</label>
                    <p class="form-control-static">
                        {{ application.get_country_display }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if application.state == 'submitted' %}
    {% if perms.portal.approve_application or perms.portal.reject_application %}
    <div class="box-footer">
        <input type="button" value="Revert to Draft" name="revert" class="btn btn-danger" data-toggle="modal" data-target="#revert-to-draft">
        <div class="pull-right">
            {% if perms.portal.reject_application %}
            <a href="{% url 'admin:applications:reject' pk=application.pk %}" class="btn btn-default">Reject Application</a>
            {% endif %}
            {% if perms.portal.approve_application %}
            <a href="{% url 'admin:applications:approve' pk=application.pk %}" class="btn btn-primary" style="margin-left: 1em;">Approve Application</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>

{% if application.state == 'submitted' %}
<div id="revert-to-draft" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Revert Application to Draft</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to revert this application to a draft?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <form action="{% url 'admin:applications:edit' pk=application.pk %}" method="post" role="form">
                    {% csrf_token %}
                    <input type="submit" value="Revert to Draft" name="_revert" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if not application.call %}
<div id="assign-to-call" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <form action="{% url 'admin:applications:edit' pk=application.pk %}" method="post" role="form">
        {% csrf_token %}

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Assign Call</h4>
                </div>
                <div class="modal-body">
                    <p>Select a call to assign to this application:</p>

                    <div class="form-group">
                    {% for call in form.call %}
                        <div class="radio">{{ call }}</div>
                    {% endfor %}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Assign to Call" name="_assign" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
