{% extends "base.html" %}

{% block title %}
Copy Application &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if applications %}
<div class="callout callout-info">
    <p>Please select the application that you would like to make a copy of.</p>
</div>

<div class="box">
    <div class="box-body no-padding table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Telescope</th>
                <th>Instrument</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>
                    <a href="{% url 'applications:create' facility=application.facility copy_from_pk=application.pk %}">{{ application.title }}</a>
                </td>
                <td>{{ application.telescope }}</td>
                <td>{{ application.instrument }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% else %}
<h3 class="text-muted" style="text-align: center;">You don't have any previous applications to copy.</h3>
{% endif %}
{% endblock %}
