{% extends "base.html" %}

{% block title %}
New Application &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="callout callout-info">
    <p>Please select the facility that you want to apply to below.</p>
</div>

<div class="row callout">
    <div style="float: left;">
        <h4><a href="http://www.saao.ac.za" style="color: #000; text-decoration: none;"><strong>SAAO</strong></a></h4>
        <p class="text-muted hidden-sm hidden-xs">Includes IRSF, 40-inch, 74-inch and Lesedi telescopes.</p>
    </div>
    <a href="{% url 'applications:create' facility='SAAO' %}" class="btn btn-success pull-right" style="text-decoration: none;">Create a new application</a>
</div>

<div class="row callout">
    <div style="float: left;">
        <h4><a href="http://lcogt.net" style="color: #000; text-decoration: none; font-size: 18px;"><strong>LCO</strong></a></h4>
        <p class="text-muted hidden-sm hidden-xs">The SAAO has 300 hours per semester of observing time on the 1-m class network (North and South).</p>
    </div>
    <a href="{% url 'applications:create' facility='LCO' %}" class="btn btn-success pull-right" style="text-decoration: none;">Create a new application</a>
</div>

<div class="row callout">
    <div style="float: left;">
        <h4><a href="http://kmtnet.kasi.re.kr" style="color: #000; text-decoration: none; font-size: 18px;"><strong>KMTNET</strong></a></h4>
        <p class="text-muted hidden-sm hidden-xs">The SAAO has 307 hours of observing time on the 1.6-m wide field (2&deg; x 2&deg;) telescope.</p>
    </div>
    <a href="{% url 'applications:create' facility='KMTNET' %}" class="btn btn-success pull-right" style="text-decoration: none;">Create a new application</a>
</div>
{% endblock %}
