{% extends "base.html" %}

{% block title %}
Applications &mdash; {{ site.name }}
{% endblock %}

{% block content %}
    {% if not applications and not request.GET.state %}
        <h3 class="text-muted" style="text-align: center;">It looks like you haven't applied for time on one of our telescopes yet. Would you like to <a href="{% url 'applications:new' %}">apply now</a>?</h3>
    {% else %}
    <div class="row">

        <div class="col-md-3 col-md-push-9">
            <a href="{% url 'applications:new' %}" class="btn btn-block margin-bottom" style="font-size: 16px; font-weight: bold;">New Application</a>
            <div class="box box-solid visible-md visible-lg">
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li{% if not request.GET.state %} class="active"{% endif %}>
                            <a href="{% url 'applications:index' %}">All Applications</a>
                        </li>
                        <li{% if request.GET.state and request.GET.state == 'submitted' %} class="active"{% endif %}>
                            <a href="{% url 'applications:index' %}?state=submitted">Submitted</a>
                        </li>
                        <li{% if request.GET.state and request.GET.state == 'approved' %} class="active"{% endif %}>
                            <a href="{% url 'applications:index' %}?state=approved">Approved</a>
                        </li>
                        <li{% if request.GET.state and request.GET.state == 'rejected' %} class="active"{% endif %}>
                            <a href="{% url 'applications:index' %}?state=rejected">Rejected</a>
                        </li>
                        <li{% if request.GET.state and request.GET.state == 'draft' %} class="active"{% endif %}>
                            <a href="{% url 'applications:index' %}?state=draft">Drafts</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if facilities.count > 1 %}
            <div class="box box-solid visible-md visible-lg">
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                    {% for facility in facilities %}
                        <li{% if request.GET.facility and request.GET.facility == facility.pk|stringformat:'i' %} class="active"{% endif %}>
                            <a href="?facility={{ facility.id }}{% for k,v in request.GET.iteritems %}{% if k != 'facility' %}&amp;{{ k }}={{ v }}{% endif %}{% endfor %}">{{ facility }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-9 col-md-pull-3">
            {% if applications %}
            <div class="box">
                <div class="box-body no-padding table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm hidden-md" style="width: 50px;">&nbsp;</th>
                            <th>Title</th>
                            <th>Telescope</th>
                            <th>Instrument</th>
                            <th style="text-align: right;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td class="hidden-xs hidden-sm hidden-md">
                                {% if application.reference %}
                                <a href="{% url 'applications:download' reference=application.reference %}" title="Download Application"><span class="label" style="color: crimson;"><span class="glyphicon glyphicon-file"></span> PDF</span></a>
                                {% endif %}
                            </td>
                            <td style="white-space: nowrap; width: 300px; overflow: hidden; text-overflow: ellipsis; max-width: 300px;"><a href="{% url 'applications:update' pk=application.pk %}" title="{{ application.title }}">{{ application.title }}</a></td>
                            <td>{{ application.telescope }}</td>
                            <td>{{ application.instrument }}</td>
                            <td style="text-align: right;">
                            <span class="label 
                            {% if application.state == 'draft' %}
                                text-muted
                            {% elif application.state == 'submitted' %}
                                text-light-blue
                            {% elif application.state == 'approved' or application.state == 'accepted' %}
                                text-green
                            {% elif application.state == 'rejected' or application.state == 'declined' %}
                                text-red
                            {% endif %}
                            ">{{ application.state|upper }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            {% else %}
                <h3 class="text-muted text-center">No Applications Available</h3>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
