{% extends "base.html" %}

{% block title %}
{{ category }} &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/daterangepicker.css">
{% endblock %}

{% block scripts %}
{{ block.super }}

{% if start_date and end_date %}
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<script type="text/javascript">
jQuery(function($) {
    var start = moment('{{ start_date|date:"Y/m/d" }}', 'YYYY-MM-DD');
    var end = moment('{{ end_date|date:"Y/m/d" }}', 'YYYY-MM-DD');

    function cb(start, end) {
        window.location.href = '?' + 'start=' + start.format('YYYY-MM-DD') + '&end=' + end.format('YYYY-MM-DD');
    }

    $('#daterange-btn').daterangepicker({
        locale: {
            format: 'DD-MM-YYYY'
        },
        startDate: '{{ start_date|date:"d-m-Y" }}',
        endDate: '{{ end_date|date:"d-m-Y" }}',
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(7, 'days'), moment()],
           'Last 30 Days': [moment().subtract(30, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="box box-widget widget-user">
            <div class="widget-user-header{% if form.errors %} bg-red{% endif %}" style="border-radius: 0; border-bottom: 1px solid #eee;">
                {% if start_date and end_date %}
                <button id="daterange-btn" type="button" class="btn bg-black pull-right hidden-sm hidden-xs">
                {% if start_date == end_date %}
                    {{ start_date|date:'F j, Y' }}
                {% else %}
                    {{ start_date|date:'F j, Y' }} - {{ end_date|date:'F j, Y' }}
                {% endif %}
                </button>
                {% endif %}

                <h3 style="margin-top: 0;">{{ category }}</h3>
            </div>
            <form action="{% url 'maintenance:category' pk=category.pk %}" method="POST">
                {% csrf_token %}

                {{ form.category_id.as_hidden }}
                {{ form.category_name.as_hidden }}
                <div class="box-body no-padding">
                    {{ form.comment }}
                </div>
                <div class="box-footer" style="padding-top: 10px;">
                    <button type="submit" class="btn btn-primary pull-right">Submit Worklog</button>
                </div>
            </form>
        </div>

        <div class="box">
            <div class="box-body">
                {% for log in logs %}
                <div class="post clearfix">
                    <div class="user-block">
                        {% if log.created_by.profile.avatar %}
                        <img class="img-circle" src="{{ log.created_by.profile.avatar.url }}">
                        {% else %}
                        <img class="img-circle" src="/static/img/avatar.png">
                        {% endif %}
                        <span class="username">
                            <a href="mailto:{{ log.created_by.email }}">
                                {{ log.created_by }}
                            </a>
                        </span>
                        <span class="description">{{ log.created_at|date:'l, F jS, Y \a\t H:i T' }}</span>
                    </div>
                    <p style="white-space: pre-wrap;">{{ log.comment|urlize }}</p>
                </div>
                {% empty %}
                <h3 class="text-muted text-center" style="margin: 1em 0;">No activities found.</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <a href="{% url 'maintenance:daylog' %}" class="btn btn-success btn-block margin-bottom">New Daylog</a>

        <div class="box box-solid visible-md visible-lg">
            <div class="box-header with-border">
                <h3 class="box-title">Categories</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    {% for category in categories %}
                    <li>
                        <a href="{% url 'maintenance:category' pk=category.pk %}">
                            {{ category }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
