{% extends "base.html" %}

{% block title %}
Maintenance Log &mdash; {{ site.name }}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($) {
    $('input[type=checkbox]').change(function(e) {
        var $this = $(e.target);
        if ($this.hasClass('toggle-one')) {
            var $collapsible = $($this.parent().data('target'));
            var $textarea = $collapsible.find('textarea');

            $textarea.val('');

            // Toggle the collapsible.
            if ($this.prop('checked')) {
                $collapsible.collapse('show');
                if (typeof e.originalEvent !== 'undefined') {
                    $textarea.focus();
                }
            } else {
                $collapsible.collapse('hide');
            }

            // Uncheck the 'toggle-all' checkbox when we uncheck any of the
            // 'toggle-one' checkboxes.
            if ($('.toggle-one:checked').length < $('.toggle-one').length) {
                $('.toggle-all').prop('checked', false);
            }
        } else if ($this.hasClass('toggle-all')) {
            $('.toggle-one').prop('checked', $this.prop('checked')).trigger('change');
        }
    });
});
</script>
{% endblock %}

{% block content %}
{% if form.errors or form.log_items.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% else %}
<div class="callout callout-info">
    <p>Please provide a brief description of the work, any known issues or problems, and who to contact (if other than standby).</p>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.log_items.management_form }}

            <div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
                <div class="box-header with-border">
                    <h3 class="box-title">{% now 'jS F Y' %}</h3>
                </div>
                <div class="box-body no-padding table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                            <td style="padding-left: 10px;">
                                <span class="checkbox" style="margin: 0;">
                                    <label><input class="toggle-all" type="checkbox"> Select all</label>
                                </span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_form in form.log_items %}
                        {{ item_form.category_id.as_hidden }}
                        {{ item_form.category_name.as_hidden }}
                        <tr>
                            <td style="padding-left: 10px;">
                                <span class="checkbox" style="margin: 0;">
                                    <label data-target="#{{ item_form.prefix }}"><input class="toggle-one" type="checkbox"> <strong>{{ item_form.category_name.value }}</strong></label>
                                </span>
                            </td>
                        </tr>
                        <tr id="{{ item_form.prefix }}" class="collapse{% if item_form.comment.value %} in{% endif %}">
                            <td class="no-padding" style="border-top-color: #ccc;">
                                {{ item_form.comment }}
                            </td>
                        <tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="pull-left checkbox" style="margin: 0; padding: 5px 0;">
                        <label><input type="checkbox" name="standby"> I'm on standby</label>
                    </div>
                    <input type="submit" value="Submit Worklog" class="btn btn-primary pull-right">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
