{% extends "base.html" %}

{% block title %}
Calendar &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/fullcalendar.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/fullcalendar.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })
});
</script>
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-body no-padding">
        <div id="calendar"></div>
    </div>
</div>
{% endblock %}
