{% extends "base.html" %}

{% block title %}
New Call for Proposals &mdash; {{ site.name }}
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/selectize.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/static/js/selectize.js"></script>
<script>
$(function() {
    $('#{{ email_form.to.auto_id }}').selectize({
        create: true
    });
    $('#{{ email_form.cc.auto_id }}').selectize({
        create: true
    });
});
</script>
{% endblock %}

{% block content %}
{% if form.errors or email_form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% else %}
<div class="callout callout-info">
    <p>Please enter your message and click the notify button below to notify the observers.</p>
</div>
{% endif %}

<div class="row">
    <form action="{% url 'admin:call_for_proposals' %}" method="post">
    {% csrf_token %}

    <div class="col-md-9">
        <div class="box {% if email_form.errors %}box-danger{% else %}box-primary{% endif %}">
            <div class="box-header with-border">
                {{ email_form.subject }}
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if email_form.to.errors %} has-error{% endif %}">
                            <label>Recipients</label>
                            {{ email_form.to }}
                            <p class="help-block">{{ email_form.to.errors.as_text }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if email_form.cc.errors %} has-error{% endif %}">
                            <label>CC</label>
                            {{ email_form.cc }}
                            <p class="help-block">{{ email_form.cc.errors.as_text }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if email_form.message.errors %} has-error{% endif %}">
                            {{ email_form.message }}
                            <p class="help-block">{{ email_form.message.errors.as_text }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Notify Observers</button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box {% if form.errors %}box-danger{% else %}box-default{% endif %}">
            <div class="box-body">
                {% if form.facility.field.choices.queryset.all|length > 1 %}
                    <div class="form-group{% if form.facility.errors %} has-error{% endif %}">
                        <label>{{ form.facility.label }}</label>
                        {{ form.facility }}
                        <p class="help-block">{{ form.facility.errors.as_text }}</p>
                    </div>
                {% else %}
                    {% for option in form.facility.field.choices.queryset.all %}
                    <input type="hidden" name="facility" value="{{ option.id }}">
                    {% endfor %}
                {% endif %}
                <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    <p class="help-block">{{ form.name.errors.as_text }}</p>
                </div>
                <div class="form-group{% if form.deadline.errors %} has-error{% endif %}">
                    <label>{{ form.deadline.label }} ({{ TIME_ZONE }})</label>
                    {{ form.deadline }}
                    <p class="help-block">{{ form.deadline.errors.as_text }}</p>
                </div>
            </div>
        </div>
    </div>

    </form>
</div>
{% endblock %}
