{% extends "base.html" %}

{% block title %}
New User &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">New User</h3>
    </div>

    <form action="{% url 'admin:users:add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                        <label>{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                        <p class="help-block">{{ form.first_name.errors.as_text }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                        <label>{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                        <p class="help-block">{{ form.last_name.errors.as_text }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                        <label>Email</label>
                        {{ form.email }}
                        <p class="help-block">{{ form.email.errors.as_text }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.groups.label }}</label>
                        {% for option in form.groups %}
                        <div class="checkbox">{{ option }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Other Permissions</label>
                        <div class="checkbox">
                            <label>{{ form.is_active }} {{ form.is_active.label }}</label>
                        </div>
                        <div class="checkbox">
                            <label>{{ form.is_staff }} {{ form.is_staff.label }}</label>
                        </div>
                        {% if user.is_superuser %}
                        <div class="checkbox">
                            <label>{{ form.is_superuser }} {{ form.is_superuser.label }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if user.is_superuser %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr style="margin-top: 0;">
                        {% for option in form.user_permissions %}
                        <div class="checkbox">{{ option }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Add User</button>
            <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
        </div>
    </form>
</div>
{% endblock %}
