{% extends "base.html" %}

{% block title %}
{{ form.instance }} &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors or profile_form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% endif %}

<div class="box {% if form.errors or profile_form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ form.instance }}</h3>
        {% if form.instance.username %}
        <span class="pull-right">{{ form.instance.username }}</span>
        {% endif %}
    </div>

    <form action="{% url 'admin:users:edit' pk=form.instance.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                        <label>{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                        <p class="help-block">{{ form.first_name.errors.as_text }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                        <label>{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                        <p class="help-block">{{ form.last_name.errors.as_text }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                        <label>Email</label>
                        {{ form.email }}
                        <p class="help-block">{{ form.email.errors.as_text }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group{% if profile_form.street.errors %} has-error{% endif %}">
                <label>Postal Address</label>
                {{ profile_form.street }}
            </div>
            <div class="form-group{% if profile_form.street2.errors %} has-error{% endif %}">
                {{ profile_form.street2 }}
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.city.errors %} has-error{% endif %}">
                        <label>{{ profile_form.city.label }}</label>
                        {{ profile_form.city }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.postal_code.errors %} has-error{% endif %}">
                        <label>{{ profile_form.postal_code.label }}</label>
                        {{ profile_form.postal_code }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.country.errors %} has-error{% endif %}">
                        <label>{{ profile_form.country.label }}</label>
                        {{ profile_form.country }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.phone.errors %} has-error{% endif %}">
                        <label>{{ profile_form.phone.label }}</label>
                        {{ profile_form.phone }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.institution.errors %} has-error{% endif %}">
                        <label>{{ profile_form.institution.label }}</label>
                        {{ profile_form.institution }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.timezone.error %} has-error{% endif %}">
                        <label>{{ profile_form.timezone.label }}</label>
                        {{ profile_form.timezone }}
                    </div>
                </div>
            </div>

            {% if form.instance.is_staff %}
            <div class="row">
                <div class="col-md-4">
                    <label>{{ profile_form.department.label }}</label>
                    <div class="form-group">{{ profile_form.department }}</div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{ form.groups.label }}</label>
                        {% for option in form.groups %}
                        <div class="checkbox">{{ option }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Other Permissions</label>
                        <div class="checkbox">
                            <label>{{ form.is_active }} {{ form.is_active.label }}</label>
                        </div>
                        <div class="checkbox">
                            <label>{{ form.is_staff }} {{ form.is_staff.label }}</label>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="checkbox">
                            <label>{{ form.is_superuser }} {{ form.is_superuser.label }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                <div class="col-md-4">
                    <div class="form-group{% if profile_form.avatar.errors %} has-error{% endif %} ">
                        <label>Profile Photo</label>
                        {{ profile_form.avatar }}
                        <p class="help-block">{{ profile_form.avatar.errors.as_text }}</p>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr style="margin-top: 0;">
                        {{ form.user_permissions }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
            <button type="submit" name="_continue" class="btn btn-default pull-right" style="margin-right: 1em;">Save and continue editing</button>
        </div>
    </form>
</div>
{% endblock %}
