{% extends "base.html" %}

{% block title %}
Users &mdash; {{ site.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if users %}
        <div class="box">
            <div class="box-body no-padding">
                <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Institution</th>
                        <th>Country</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="{% url 'admin:users:edit' pk=user.pk %}">{{ user }}</a></td>
                        <td>{{ user.profile.institution }}</td>
                        <td>{{ user.profile.get_country_display }}</td>
                        <td>{{ user.profile.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="text-muted text-center">No users found.</h3>
    {% endif %}
    </div>

    <div class="col-md-3">
        {% if user.is_superuser %}
        <a href="{% url 'admin:users:add' %}" class="btn btn-success btn-block margin-bottom">New User</a>
        {% endif %}

        <div class="box box-solid">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if not request.GET %} class="active"{% endif %}>
                        <a href="{% url 'admin:users:index' %}">All Users</a>
                    </li>
                    <li{% if request.GET.is_staff %} class="active"{% endif %}>
                        <a href="?is_staff=1">Staff</a>
                    </li>
                    <li{% if request.GET.is_superuser %} class="active"{% endif %}>
                        <a href="?is_superuser=1">Administrators</a>
                    </li>
                    {% for group in groups %}
                    <li{% if request.GET.group and request.GET.group == group.pk|stringformat:'i' %} class="active"{% endif %}>
                        <a href="?group={{ group.pk }}">{{ group }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
