{% extends "base.html" %}

{% block head %}
<link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
<style>
#map { height: 400px; }
</style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="/static/js/leaflet.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js"></script>
<script>
var icon = L.icon({
    iconUrl: 'my-icon.png',
    iconRetinaUrl: 'my-icon@2x.png',
    iconSize: [38, 95],
    iconAnchor: [22, 94],
    popupAnchor: [-3, -76],
    shadowUrl: 'my-icon-shadow.png',
    shadowRetinaUrl: 'my-icon-shadow@2x.png',
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

L.mapbox.accessToken = 'pk.eyJ1IjoiYnJpZWhhbmxvbWJhYXJkIiwiYSI6IlBvbHNWR00ifQ.EW9r1hjyAeQ9qr2zt6Ui9Q';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([-32.3778, 20.8068], 16);

jQuery(function($) {

    function setLatLng(position) {
        $('input[name=lat]').val(position.lat);
        $('input[name=lng]').val(position.lng);
    }

    map.on('locationfound', function(e) {
        map.panTo(e.latlng);
    });

    {% if request.user.is_staff %}
    var marker;
    map.on('click', function(e) {
        $('button#submit-report').prop('disabled', false);

        if (typeof marker !== 'undefined') {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng, {draggable: true}).addTo(map);
        marker.on('dragend', function(distance, e) {
            setLatLng(marker.getLatLng());
        });
        setLatLng(e.latlng);
        $('[name=comment]').focus();
    });

    $('#light-pollution-report').submit(function(e) {
        var data = {
            'csrfmiddlewaretoken': $(e.target).find('[name=csrfmiddlewaretoken]').val(),
            'lat': $(e.target).find('[name=lat]').val(),
            'lng': $(e.target).find('[name=lng]').val(),
            'comment': $(e.target).find('[name=comment]').val()
        };

        $.post(e.target.action, data, function() {
            map.removeLayer(marker);
            heat.addLatLng([data.lat, data.lng]);
            $('button#submit-report').prop('disabled', true);
        });

        e.preventDefault();
    });
    {% endif %}
});
</script>
{% endblock %}

{% block title %}
New Light Pollution Report &mdash; {{ site.name }}
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="callout callout-danger">
    <p>Please correct the errors highlighted below and try again.</p>
</div>
{% else %}
<div class="callout callout-info">
    <p>Please describe the light, including day and time observed.</p>
</div>
{% endif %}

<div class="box {% if form.errors %}box-danger{% else %}box-primary{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">New Light Pollution Report</h3>
    </div>

    <div id="map"></div>

    <form action="{% url 'admin:reports:create' %}" method="post">
        {% csrf_token %}

        {{ form.lat.as_hidden }}
        {{ form.lng.as_hidden }}

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group{% if form.observed_at.errors %} has-error{% endif %}">
                        <label>{{ form.observed_at.label }}</label>
                        {{ form.observed_at }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group{% if form.comment.errors %} has-error{% endif %}">
                        {{ form.comment }}
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Log Report</button>
        </div>
    </form>
</div>
{% endblock %}
